<table style="width:100%;">
    <tr>
        <td><label style="font-weight:bold;">Username</label></td>
        <td><label style="font-weight:bold;">FirstName</label></td>
        <td><label style="font-weight:bold;">LastName</label></td>
        <td><label style="font-weight:bold;">Email</label></td>
        <td><label style="font-weight:bold;">Last Saved On</label></td>
        <td>&nbsp;</td>
    </tr>
    {#foreach $T as U}
    <tr>
        <td>{$T.U$index+1}. {$T.U.username}</td>
        <td>{$T.U.FirstName}</td>
        <td>{$T.U.LastName}</td>
        <td>{$T.U.Email}</td>
        <td>
        
        {NS_FormatJSONDate($T.U.LastSavedDate,'dd M yy')}</td>
        <td>
            <a href="#" onclick="return NSR_ShowPartialUserResponse('{$T.U.username}')" class="NSR_ALink">View Partial Response</a>
        </td>
        <td>
            <a href="#" onclick="return NSR_RemoveFormUser('{$T.U.username}')" class="NSR_ALink">Delete</a>
        </td>
    </tr>
    {#/for}
</table>