<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
    <link href="Styles/style.css" rel="stylesheet" type="text/css" />
    <link href="Styles/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    <title>Spafoo</title>
  </head>
<body>
<div class="in-logo"><a href="index.html"><img src="Images/Site/SpaFoo-sm.png" /></a></div>
<div class="inheader">
  <div class="titre">
    <button type="button" class="tcon tcon-menu--xbutterfly" aria-label="toggle menu"><span class="tcon-menu__lines" aria-hidden="true"></span><span class="tcon-visuallyhidden">toggle menu</span></button>
  </div>
  <div class="image_trombi">
    <div class="nav-wrapper">
      <div class="vmenu">   
        <ul class="top">
          <li><a href="MyProfile.html"><img src="Images/Site/vm-user.png"><p>Matthew Lee</p></a></li>
          <li><a href="FindProvider.html"><img src="Images/Site/vm-find.png"><p>Find Provider</p></a></li>
          <li><a href="Services.html"><img src="Images/Site/vm-services.png"><p>Services</p></a></li>
          <li><a href="MySchedule.html"><img src="Images/Site/vm-schedule.png"><p>My Schedule</p></a></li>
          <li><a href="MyProfile.html#noti">
            <div class="pnotification2">
              <div class="ico2">
                <i class="fa white fa-bell fa-1x"></i>
              </div>
              <div id='notification2'>3</div>
            </div>
            <p>Notification</p>
          </a></li>
        </ul>
        <ul class="bottom">
          <li><a href="About.html"><img src="Images/Site/vm-about.png"><p>About Spafoo</p></a></li>
          <li><a href="ShareApp.html"><img src="Images/Site/vm-share.png"><p>Share This App with Friends</p></a></li>
          <li><a href="#" class="signout"><img src="Images/Site/vm-signout.png"><p>Signout</p></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="bread">
  <a href="" onClick="window.history.go(-1); return false;" class="pback"><i class="fa fa-angle-left fa-2x"></i></a>
  <div class="ptitle">Add Provider Review</div>
</div>
<div class="inbody apreview">
  <div class="center">
    <p>Please rate the Provider using the following performance </p>
    <h2>Anastasia T.</h2>
    <div class="profile-pic">
      <div class="round"><a href="#"><img src="Images/Provider/Preview/AnastasiaT.jpg" alt=""></a></div>
    </div>
    <p class="bmar-xs">How would you rate this provider?</p>
    <div class="stars">
      <input class="star star-5" id="star-5-2" type="radio" name="star"/>
      <label class="star star-5" for="star-5-2"></label>
      <input class="star star-4" id="star-4-2" type="radio" name="star"/>
      <label class="star star-4" for="star-4-2"></label>
      <input class="star star-3" id="star-3-2" type="radio" name="star"/>
      <label class="star star-3" for="star-3-2"></label>
      <input class="star star-2" id="star-2-2" type="radio" name="star"/>
      <label class="star star-2" for="star-2-2"></label>
      <input class="star star-1" id="star-1-2" type="radio" name="star"/>
      <label class="star star-1" for="star-1-2"></label>
    </div>
  </div>
    <div class="greview">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>&nbsp;</td>
        <td align="center">Excellent</td>
        <td align="center">Good</td>
        <td align="center">Fair</td>
        <td align="center">Poor</td>
      </tr>
      <tr>
        <td align="left" valign="bottom">Work Quality</td>
        <td align="center"><div class="radio radio-info"><input type="radio" name="WorkQuality" value="option1" id="inlineRadio1"><label for="inlineRadio1"></label></div></td>
        <td align="center"><div class="radio radio-info"><input type="radio" name="WorkQuality" value="option2" id="inlineRadio2"><label for="inlineRadio2"></label></div></td>
        <td align="center"><div class="radio radio-info"><input type="radio" name="WorkQuality" value="option3" id="inlineRadio3"><label for="inlineRadio3"></label></div></td>
        <td align="center"><div class="radio radio-info"><input type="radio" name="WorkQuality" value="option4" id="inlineRadio4"><label for="inlineRadio4"></label></div></td>
      </tr>
      <tr>
        <td align="left" valign="bottom">Time Punctuality</td>
        <td align="center"><div class="radio radio-info"><input type="radio" name="TimePunctuality" value="optiont" id="inlineRadioa"><label for="inlineRadioa"></label></div></td>
        <td align="center"><div class="radio radio-info"><input type="radio" name="TimePunctuality" value="optiont" id="inlineRadiob"><label for="inlineRadiob"></label></div></td>
        <td align="center"><div class="radio radio-info"><input type="radio" name="TimePunctuality" value="optiont" id="inlineRadioc"><label for="inlineRadioc"></label></div></td>
        <td align="center"><div class="radio radio-info"><input type="radio" name="TimePunctuality" value="optiont" id="inlineRadiod"><label for="inlineRadiod"></label></div></td>
      </tr>
    </table>
    </div>
    <textarea name="textarea" id="textarea" class="form-control" rows="5" placeholder="Optional Comment"></textarea>
    <div class="tpad-mid"></div>
    <p class="bmar-sm">Display my name on review page</p>
    <select class="form-control w100">
        <option value="2015">First name and last name initial</option>
        <option value="2016">First name only</option>
        <option value="2017">Last name only</option>
        <option value="2018">Full name</option>
        <option value="2019">Hide my name</option>
      </select>
    <div class="tpad-xs"></div>
    <div class="checkbox checkbox-primary">
      <input id="checkbox3" type="checkbox">
      <label for="checkbox3" id="iconfirm">I confirm that the information contained in this Review Form is true, accurate, and represents my actual first-hand experience. I confirm that I do not work for, am not in competition with, or am not in any way related to Spafoo or the provider in this review.</label>
    </div>
    <div class="tpad-xs"></div>
</div>
<a data-toggle="modal" data-target="#ThankYou" class="block-btn">Submit</a>
<!-- Modal Thank You -->
<div class="modal fade" id="ThankYou" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog w90" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="sp-close" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title" id="myModalLabel">Thank You</h4>
      </div>
      <div class="modal-cpbody2 center">
        <p>Thank you for submitting a Spafoo review.</p>
        <p>Your opinion counts and we appreciate you sharing  your review with us.</p>
        <p>&nbsp;</p>
        
        <div class="cpaction">
          <div class="col-xs-6 pca"><a href="MakeAppointment.html" class="gray-rounded btnblock">Make Appointment</a></div>
          <div class="col-xs-6 pok"><a href="index.html" class="green-rounded btnblock">Apafoo Home</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="Bootstrap/js/bootstrap.js"></script>
<script type="text/javascript">app.initialize();</script>
<script>transformicons.add('.tcon');</script>
<script type="text/javascript">
$(document).ready(function() {
    $('.image_trombi').hide();
    $('.titre').click(function() {     
      $(this).next().slideToggle();
      return false;
    });
});
</script>
</body>
</html>
