
<ion-view view-title="Available Cities">
    <ion-content>
        <div class="bread">
            <a href="" onClick="window.history.go(-1); return false;" class="pback"><i class="fa fa-angle-left fa-2x"></i></a>
            <div class="ptitle">Available Cities</div>
        </div>
        <div class="inbodyfull center">

            <div class="avac-header">
                <div class="box">
                    <h1>Cities We&rsquo;re In</h1>
                </div>
            </div>
            <div class="ava-city">
                <h2><span>Colorado</span></h2>
                <div class="city-row">
                    <ul>
                        <li>Denver</li>
                    </ul>
                </div>
                <h2><span>Louisiana</span></h2>
                <div class="city-row">
                    <ul>
                        <li>Baton Rouge</li>
                        <li>New Orleans</li>
                    </ul>
                </div>
                <p align="center">Would you like to become a Spafoo provider in your city?  Visit our website <a href="http://www.spafoo.com">www.spafoo.com</a> and apply!</p>
            </div>

        </div>

        <script type="text/javascript">app.initialize();</script>
        <script>transformicons.add('.tcon');</script>

        </ion-content>
</ion-view>