<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
    <link href="Styles/style.css" rel="stylesheet" type="text/css" />
    <title>Spafoo</title>
  </head>
<body>
<div class="in-logo"><a href="index.html"><img src="Images/Site/Spafoo-sm.png" /></a></div>
<div class="inheader">
  <div class="titre">
    <button type="button" class="tcon tcon-menu--xbutterfly" aria-label="toggle menu"><span class="tcon-menu__lines" aria-hidden="true"></span><span class="tcon-visuallyhidden">toggle menu</span></button>
  </div>
  <div class="image_trombi">
    <div class="nav-wrapper">
      <div class="vmenu">   
        <ul class="top">
          <li><a href="MyProfile.html"><img src="Images/Site/vm-user.png"><p>Matthew Lee</p></a></li>
          <li><a href="FindProvider.html"><img src="Images/Site/vm-find.png"><p>Find Provider</p></a></li>
          <li><a href="Services.html"><img src="Images/Site/vm-services.png"><p>Services</p></a></li>
          <li><a href="MySchedule.html"><img src="Images/Site/vm-schedule.png"><p>My Schedule</p></a></li>
          <li><a href="MyProfile.html#noti">
            <div class="pnotification2">
              <div class="ico2">
                <i class="fa white fa-bell fa-1x"></i>
              </div>
              <div id='notification2'>3</div>
            </div>
            <p>Notification</p>
          </a></li>
        </ul>
        <ul class="bottom">
          <li><a href="About.html"><img src="Images/Site/vm-about.png"><p>About Spafoo</p></a></li>
          <li><a href="ShareApp.html"><img src="Images/Site/vm-share.png"><p>Share This App with Friends</p></a></li>
          <li><a href="#" class="signout"><img src="Images/Site/vm-signout.png"><p>Signout</p></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="bread">
  <a href="" onClick="window.history.go(-1); return false;" class="pback"><i class="fa fa-angle-left fa-2x"></i></a>
  <div class="ptitle">Forgot Password</div>
</div>
<div class="inbody">
  <div class="has-feedback fgap">
    <label class="control-label">Please enter your email or user name</label>
    <input type="text" class="form-control">
    <span class="fa fa-user fa-lg form-control-feedback" aria-hidden="true"></span>
  </div>
</div>
<div class="fource-bottom center">
  <a href="#" class="block-btn">Send Password</a>
</div>

<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript">app.initialize();</script>
<script>transformicons.add('.tcon');</script>
<script type="text/javascript">
$(document).ready(function() {
    $('.image_trombi').hide();
    $('.titre').click(function() {     
      $(this).next().slideToggle();
      return false;
    });
});
</script>
</body>
</html>
