<ion-view view-title="Send Code on Email" ng-if="frgtpass.MainView == 'Send-Code'">
    <ion-content>
        <div class="bread">
            <a href="" onClick="window.history.go(-1); return false;" class="pback"><i class="fa fa-angle-left fa-2x"></i></a>
            <div class="ptitle">Password Reset</div>
        </div>
        <div class="inbody">
            <div class="has-feedback fgap" style="text-align:center;">
                <label class="control-label">To reset your password please enter your email </label>
                <div class="h10"></div>
                <input type="text" placeholder="Email Address" ng-model="data.EmailAddress" class="form-control">
            </div>
            <div class="h50"></div>
            <div class="center" ng-click="frgtpass.doSendCode(data)">
                <a href="#" class="block-btn">Send Code</a>
            </div>
        </div>
        <div class="modal fade" id="PDoneError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog w90" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="sp-close" data-dismiss="modal" aria-label="Close"></button>
                        <h4 class="center" id="myModalLabel"><i style="color:red;" class="fa fa-exclamation-circle fa-3x"></i> </h4>
                    </div>
                    <div class="modal-cpbody center">
                        <p>{{frgtpass.messages}} </p>
                        <div class="cpaction">
                            <a data-dismiss="modal" data-toggle="modal" class="green-rounded btnblock zimp">Ok</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
<ion-view view-title="Enter Code from Email" ng-if="frgtpass.MainView == 'Enter-Code'">
    <ion-content>
        <div class="bread">
            <a href="" ng-click="frgtpass.back2SendCode('Enter-Code')" class="pback"><i class="fa fa-angle-left fa-2x"></i></a>
            <div class="ptitle">Confirm Code</div>
        </div>
        <div class="inbody">
            <div class="has-feedback fgap" style="text-align:center;">
                <label class="control-label">Please enter the code sent to : </label>
                <h3>{{frgtpass.VerifiedEmail}} </h3>
                <div class="h20"></div>
                <input type="text" placeholder="Code" ng-model="data.code" class="form-control">
            </div>
            <div class="h50"></div>
            <div class="center" ng-click="frgtpass.doConfirmCode(data)">
                <a href="#" class="block-btn">Confirm</a>
            </div>
        </div>
        <div class="modal fade" id="PDoneError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog w90" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="sp-close" data-dismiss="modal" aria-label="Close"></button>
                        <h4 class="center" id="myModalLabel"><i style="color:red;" class="fa fa-exclamation-circle fa-3x"></i> </h4>
                    </div>
                    <div class="modal-cpbody center">
                        <p>{{frgtpass.messages}} </p>
                        <div class="cpaction">
                            <a data-dismiss="modal" data-toggle="modal" class="green-rounded btnblock zimp">Ok</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
<ion-view view-title="Enter New Password" ng-if="frgtpass.MainView == 'Enter-NewPassword'">
    <ion-content>
        <div class="bread">

            <div class="ptitle">New Password</div>

        </div>
        <div class="inbody">
            <div class="has-feedback fgap">
                <input type="password" placeholder="New Password" ng-model="data.NewPassword" class="form-control">
            </div>
            <div class="has-feedback fgap">
                <input type="password" placeholder="Confirm Password" ng-model="data.ConfirmNewPassword" class="form-control">
            </div>
            <div class="h50"></div>
            <div class="center" ng-click="frgtpass.doNewPassword(data)">
                <a href="#" class="block-btn">Change Password</a>
            </div>
        </div>
        <div class="modal fade" id="PDoneError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog w90" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="sp-close" data-dismiss="modal" aria-label="Close"></button>
                        <h4 class="center" id="myModalLabel"><i style="color:red;" class="fa fa-exclamation-circle fa-3x"></i> </h4>
                    </div>
                    <div class="modal-cpbody center">
                        <p>{{frgtpass.messages}} </p>
                        <div class="cpaction">
                            <a data-dismiss="modal" data-toggle="modal" class="green-rounded btnblock zimp">Ok</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
<ion-view view-title="Enter Code from Email" ng-if="frgtpass.MainView == 'Enter-Success'">
    <ion-content>
        <div class="bread">
            <div class="ptitle">Password Reset</div>
        </div>
        <div class="inbody">
            <div class="center">
                <label class="control-label">Your password has been changed Successfully</label>
                <label class="control-label">Please login to continue Spafoo</label>
            </div>
            <div class="h50"></div>
            <div class="center">
                <a ui-sref="login" class="block-btn">Login</a>
            </div>
        </div>
    </ion-content>
</ion-view>

