
<ion-view view-title="SpaFoo">
    <ion-content>
        <div class="wrapper">
            <div class="header">
                <div class="xs-logo">
                    <a href="index.html"><img ng-src="images/Site/Spafoo-Logo.png" /></a>
                    <p>Our licensed professionals are at your service and to <br /> your door, wherever you happen to be!</p>
                </div>
            </div>
            <div class="main-body">
                <div class="mnav">
                    <ul>
                        <li class="fst"><a ui-sref="FindProvider" href="MakeAppointment.html"><img alt="" ng-src="images/Site/ico-appointment.png" /><p>Make Appointment</p></a></li>

                        <li class="sec" ng-if="GetLoginStatus==true && getRole=='C'"><a ui-sref="MyProfile"><img alt="" ng-src="images/Site/ico-register.png" /><p>My-Profile</p></a></li>
                        <li class="sec" ng-if="GetLoginStatus==true && getRole=='P'"><a ui-sref="ProMyProfile"><img alt="" ng-src="images/Site/ico-register.png" /><p>My-Profile</p></a></li>
                        <li class="sec" ng-if="GetLoginStatus==false"><a ui-sref="register"><img alt="" ng-src="images/Site/ico-register.png" /><p>Register to become a new client</p></a></li>
                        <li class="thr" ng-if="GetLoginStatus==true"><a ng-click="m.doLogOut()"><img alt="" ng-src="images/Site/ico-login.png" /><p>LogOut</p></a></li>
                        <li class="thr" ng-if="GetLoginStatus==false"><a ui-sref="login"><img alt="" ng-src="images/Site/ico-login.png" /><p>Provider Login</p></a></li>
                        <li class="for">
                            <a ui-sref="MySchedule" ng-if="GetLoginStatus==true" href="Pro-MySchedule.html">
                                <img alt="" ng-src="images/Site/ico-certified.png" /><p>Become a Certified Provider</p>
                            </a>
                            <a ui-sref="login" ng-if="GetLoginStatus==false" href="Pro-MySchedule.html">
                                <img alt="" ng-src="images/Site/ico-certified.png" /><p>Become a Certified Provider</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer">On Site hair and body services from your phone.</div>
        </div>

        <script type="text/javascript">app.initialize();</script>
    </ion-content>
</ion-view>