
<ion-view view-title="Login">
    <ion-content>
      
        <div class="bread">
            <a href="" onClick="window.history.go(-1); return false;" class="pback"><i class="fa fa-angle-left fa-2x"></i></a>
            <div class="ptitle">sign in</div>
        </div>
        <div class="inbody">
            <div class="has-feedback fgap">
                <label class="control-label">User Name</label>
                <input type="text" maxlength="50" class="form-control" ng-model="username">
                <span class="fa fa-user fa-lg form-control-feedback" aria-hidden="true"></span>
            </div>
            <div class="has-feedback fgap">
                <label class="control-label">Password</label>
                <input type="password"  maxlength="50" class="form-control" ng-model="password">
                <span class="fa fa-key fa-lg form-control-feedback" aria-hidden="true"></span>
            </div>
            <p><a href="ForgotPassword.html" class="fsm">Forgot your password?</a></p>
            <div class="checkbox checkbox-primary">
                <input id="checkbox2" type="checkbox" checked>
                <label for="checkbox2">Remember me</label>
            </div>
        </div>
        <div class="fource-bottom center">
            Don't have an account? <a href="RegisterUser.html">Sign up!</a>
            <a class="block-btn" data-ng-click="log.doLogin(username,password)" >Sign in</a>
        </div>

        <!-- <script type="text/javascript" src="cordova.js"></script>-->
       
        <script type="text/javascript">app.initialize();</script>
     
      
        

    </ion-content>
</ion-view>