<ion-view view-title="About Spafoo">
  <ion-content>
    <div class="bread"> <a href="" onClick="window.history.go(-1); return false;" class="pback"><i class="fa fa-angle-left fa-2x"></i></a>
      <div class="ptitle">Price List</div>
    </div>
    <div class="inbody">
      
        <ul class="pricelist">
          <li ng-repeat="sr in prlist.ServiceData">
            <h2>{{sr.serviceNameField}}</h2>
            <div ng-repeat="cl in sr.childrenField" class="mblr">
              <table class="table table-hover plmt"  width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr ng-repeat="cl1 in cl.childrenField">
                  <td class="left">{{cl1.serviceNameField}}</td>
                  <td class="right"> ${{cl1.priceField}}</td>
                </tr>
              </table>
              <table class="table table-hover plmt" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td class="left">{{cl.serviceNameField}}</td>
                  <td class="right"> ${{cl.priceField}}</td>
                </tr>
              </table>
            </div>
          </li>
        </ul>
      
    </div>
    <script type="text/javascript">app.initialize();</script> 
    <script>transformicons.add('.tcon');</script> 
  </ion-content>
</ion-view>
