 <ion-view view-title="My Schedule" scroll="true">
    <ion-content> 
<div class="bread">
    <a href="" onClick="window.history.go(-1); return false;" class="pback"><i class="fa fa-angle-left fa-2x"></i></a>
    <div class="ptitle">My Appointments</div>
</div>
<div class="inbody-simple">
    <div class="myschedule">

        <div ng-repeat="s in papp.ServiceData">

            <div ng-if="s.statusField==3">
                <div class="acc">
                
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td class="left">
                                <div class="date">{{s.DayField}} <span>{{s.MonthField}}</span></div>
                                <div class="time">{{s.atTimeField}}</div>
                            </td>
                            <td class="middle">
                                <h2>{{s.orderDateField}}</h2>
                                <p>At: {{s.addressField}}</p>
                                <p>With:  {{s.displayNameField}}</p>
                                <p>Service(s): {{s.ServiceList}}</p>
                            </td>
                            <td class="right mkover">
                                <div class="cinfo">
                                    <a ng-click="papp.RemoveCancelled({{s.appointmentIDField}})" title="Remove form list" class="clearlist">
                                        <i class="fa fa-times-circle"></i>
                                    </a>
                                    <div class="sadface"><i class="fa fa-frown-o fa-2x"></i></div>
                                    <p>Cancelled from client side</p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div ng-if="s.statusField==5">
                <div class="sce">

                    <div class="newapp" ng-if="s.seenStatusField==0" ng-click="papp.UnSeenStatus({{s.appointmentIDField}})"></div>


                    <a href="" ng-click="papp.GoToScheduleDetail({{s.appointmentIDField}})">
                        <div class="left">
                            <div class="date">{{s.DayField}} <span>{{s.MonthField}}</span></div>
                            <div class="time">{{s.atTimeField}}</div>
                        </div>
                    </a>

                    <div class="right">                
                      
                        
                        <h2 style="color:red;">Waiting client approval</h2>
                        <p>At: <a href="">{{s.addressField}}</a></p>
                        <p>With: <a href="">{{s.displayNameField}}</a></p>
                        <p>Service(s): <a href="" ng-click="papp.GoToProviderPortfolio({{s.providerIDField}})">{{s.ServiceList}}</a></p>
                    </div>
                </div>
            </div>



            <div ng-if="s.statusField==0">
                <div class="sce">

                    <div class="newapp" ng-if="s.seenStatusField==0" ng-click="papp.UnSeenStatus({{s.appointmentIDField}})"></div>


                    <a href="" ng-click="papp.GoToScheduleDetail({{s.appointmentIDField}})">
                        <div class="left">
                            <div class="date">{{s.DayField}} <span>{{s.MonthField}}</span></div>
                            <div class="time">{{s.atTimeField}}</div>
                        </div>
                    </a>

                    <div class="right">
                        <h2>{{s.orderDateField}}</h2>
                        <p>At: <a href="">{{s.addressField}}</a></p>
                        <p>With: <a href="">{{s.displayNameField}}</a></p>
                        <p>Service(s): <a href="" ng-click="papp.GoToProviderPortfolio({{s.providerIDField}})">{{s.ServiceList}}</a></p>
                    </div>
                </div>
            </div>


            <div ng-if="s.statusField==4">
                <div class="sce">
                    <div class="newapp" ng-click="papp.UnSeenStatus({{s.appointmentIDField}})" ng-if="s.seenStatusField==0"></div>
                    <a href="#/ProMyAvailability/{{s.addressIDField}}/{{s.clientIDField}}/{{s.providerIDField}}/{{s.appointmentIDField}}/{{s.displayNameField}}/{{s.serviceTime}}">
                        <div class="left">
                            <div class="date">{{s.DayField}} <span>{{s.MonthField}}</span></div>
                            <div class="time">{{s.atTimeField}}</div>
                        </div>
                    </a>
                    <div class="right">
                        <h2 style="color:red;">Soonest Appointment</h2>
                        <h2>{{s.orderDateField}}</h2>
                        <p>At: <a href="">{{s.addressField}}</a></p>
                        <p>With: <a href="">{{s.displayNameField}}</a></p>
                        <p>Service(s): <a href="" ng-click="papp.GoToProviderPortfolio({{s.providerIDField}})"></a>{{s.ServiceList}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div ng-repeat="s in papp.ServiceData">
            <div class="bar pbards" ng-if="$index==0">Accomplished</div>
            <div ng-if="s.statusField==1">
                <div class="acc">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td class="left">
                                <div class="date">{{s.DayField}} <span>{{s.MonthField}}</span></div>
                                <div class="time">{{s.atTimeField}}</div>
                                <div class="hide4Apps">
                                    <a ng-click="papp.HideApp4Me({{s.appointmentIDField}});"><i class="fa red fa-trash fa-lg"></i></a>
                                </div>
                            </td>
                            <td class="middle">
                                <h2>{{s.orderDateField}}</h2>
                                <p ng-click="papp.GoToProviderReview(s.userIDField)">With:  {{s.displayNameField}}</p>
                                <p>Service(s): {{s.ServiceList}}</p>
                            </td>
                            <td class="right">
                                <a ng-if="!s.isRate" href="#/AddClientReview/{{s.appointmentIDField}}/{{s.clientIDField}}">

                                    <i class="fa fa-star-o fa-2x"></i>
                                    <p ng-if="!s.isRate">Rate this client</p>
                                </a>
                                <a ng-if="s.isRate" href="">

                                    <i class="fa fa-star-o fa-2x"></i>
                                    <p ng-if="s.isRate">Already Rated!</p>
                                </a>
                            </td>
                        </tr>

                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<p>&nbsp;</p>

<script type="text/javascript">app.initialize();</script>

 </ion-content>
</ion-view> 
