<ion-view>
    <ion-content>
      
        <div class="bread">
            <a href="" onClick="window.history.go(-1); return false;" class="pback"><i class="fa fa-angle-left fa-2x"></i></a>
            <div class="ptitle">My Appointments</div>
        </div>
        <div class="inbody mavai">
            <h3 class="center"><i class="fa green fa-square"></i> &nbsp;I am available</h3>
            <div class="cal">
                
                <div ui-calendar="pma.uiConfig.calendar" class="span8 calendar" ng-model="pma.staticEvents"></div>
              
</div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="cdatetime">
                <tr>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>&nbsp;</th>
                </tr>
                <tr>
                    <td>Oct 01</td>
                    <td><input type="text" class="form-control" value="12:35 PM"></td>
                    <td><input type="text" class="form-control" value="06:00 AM"></td>
                    <td><a data-toggle="modal" data-target="#TimePicker"><i class="fa green fa-edit fa-lg"></i></a>&nbsp;&nbsp;&nbsp;<a href="#"><i class="fa red fa-trash fa-lg"></i></a></td>
                </tr>
                <tr>
                    <td>Oct 07</td>
                    <td><input type="text" class="form-control" value="02:30 AM"></td>
                    <td><input type="text" class="form-control" value="08:00 AM"></td>
                    <td><a data-toggle="modal" data-target="#TimePicker"><i class="fa green fa-edit fa-lg"></i></a>&nbsp;&nbsp;&nbsp;<a href="#"><i class="fa red fa-trash fa-lg"></i></a></td>
                </tr>
                <tr>
                    <td>Oct 12</td>
                    <td><input type="text" class="form-control" value="01:15 AM"></td>
                    <td><input type="text" class="form-control" value="08:00 AM"></td>
                    <td><a data-toggle="modal" data-target="#TimePicker"><i class="fa green fa-edit fa-lg"></i></a>&nbsp;&nbsp;&nbsp;<a href="#"><i class="fa red fa-trash fa-lg"></i></a></td>
                </tr>
                <tr>
                    <td>Oct 17</td>
                    <td><input type="text" class="form-control" value="09:00 AM"></td>
                    <td><input type="text" class="form-control" value="06:00 AM"></td>
                    <td><a data-toggle="modal" data-target="#TimePicker"><i class="fa green fa-edit fa-lg"></i></a>&nbsp;&nbsp;&nbsp;<a href="#"><i class="fa red fa-trash fa-lg"></i></a></td>
                </tr>
                <tr>
                    <td>Oct 27</td>
                    <td><input type="text" class="form-control" value="06:30 AM"></td>
                    <td><input type="text" class="form-control" value="01:00 PM"></td>
                    <td><a data-toggle="modal" data-target="#TimePicker"><i class="fa green fa-edit fa-lg"></i></a>&nbsp;&nbsp;&nbsp;<a href="#"><i class="fa red fa-trash fa-lg"></i></a></td>
                </tr>
                <tr>
                    <td>Oct 29</td>
                    <td><input type="text" class="form-control" value="11:45 AM"></td>
                    <td><input type="text" class="form-control" value="09:15 AM"></td>
                    <td><a data-toggle="modal" data-target="#TimePicker"><i class="fa green fa-edit fa-lg"></i></a>&nbsp;&nbsp;&nbsp;<a href="#"><i class="fa red fa-trash fa-lg"></i></a></td>
                </tr>
            </table>
        </div>
        <p>&nbsp;</p>
        <!-- Time Picker -->
        
    </ion-content>
</ion-view>


