<ion-view view-title="Provider Appointment Completed" scroll="true">
    <ion-content>
        <div class="bread">
            <a href="" onClick="window.history.go(-1); return false;" class="pback"><i class="fa fa-angle-left fa-2x"></i></a>
            <div class="ptitle">Appointment Completed</div>
        </div>
        <div class="inbody appcompt">
            <p class="bmar-sm">Appointment Photos</p>
            <ul class="appimggrid">
                <li><img src="Images/Site/noimg.png"></li>
                <li><img src="Images/Site/noimg.png"></li>
                <li><img src="Images/Site/noimg.png"></li>
            </ul>
            <div class="tpad-mid"></div>
            <p class="bmar-sm">Comments</p>
            <textarea ng-model="pac.comment" name="textarea" id="textarea" class="form-control" rows="5"></textarea>
            <div class="tpad-xs"></div>
            <p class="bmar-sm">Rate this client <a href="#/AddClientReview/{{pac.appointmentIDField}}/{{pac.clientId}}">Click Here</a></p>
        </div>
        <p>&nbsp;</p>
        <a href="#" class="block-btn" ng-click="pac.CompleteApp()">Appointment Completed</a>
        </ion-content>
    </ion-view>

<div class="modal fade" id="PDone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog w90" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="sp-close" data-dismiss="modal" aria-label="Close"></button>
                <h4 class="center" id="myModalLabel"><i class="fa fa-check-circle fa-3x"></i> </h4>
            </div>
            <div class="modal-cpbody center">
                <p>{{pac.message}} </p>
                <div class="cpaction">
                    <a data-dismiss="modal" data-toggle="modal" href="#/ProAppointments" class="green-rounded btnblock">Ok</a>

                </div>
            </div>
        </div>
    </div>
</div>

