
<ion-view view-title="Register Provider">
    <ion-content>

        <div class="bread">
            <a href="" onClick="window.history.go(-1); return false;" class="pback"><i class="fa fa-angle-left fa-2x"></i></a>
            <div class="ptitle">Register as Provider</div>
        </div>
        <div class="inbody">

            <p>Spafoo offers personal service providers the opportunity to join the digital revolution! If you are a professionally licensed cosmetologist, esthetician or massage therapist, imagine a new way to practice your profession and grow your business. Our digital platform allows you the mobility and flexibility you need while our platform helps you grow your beauty business. </p>
            <p>At Spafoo.com, we offer clients an "at your service" approach to personal care, while we encourage and support beauty industry professionals with the ease of a smart phone app. This is a revolutionary business model for the beauty industry professional who does not want to be tied to a traditional salon. </p>
            <p>Once registered into the system, your services will be available to all Spafoo users. Spafoo users will request your services on an as-needed basis. The service provider receives the request as a pop up based on hair type, location, time and service necessary. </p>
            <p>Marketing and scheduling, often a challenge for an independent beauty professional, is built into the Spafoo concierge platform. Now is an opportunity to grow your business independent of a traditional, brick and mortar salon. Better yet, you receive a greater ratio of your market rate. Weekly payments for your services are electronically deposited directly into your bank account. </p>
        
    <p class="center"><strong>Join the beauty revolution. Join Spafoo today!</strong></p>
            <!--<p class="center">Would you like to become a Spafoo provider in your city? <a ui-sref="Contact">Contact Us</a> and apply!</p>-->
            <p class="center"><strong>Please go to www.Spafoo.com from your PC/Workstation to register</strong></p>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="Privacy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="sp-close" data-dismiss="modal" aria-label="Close"></button>
                        <h4 class="modal-title" id="myModalLabel">Privacy Statement</h4>
                    </div>
                    <div class="modal-body">
                        Your information is held in private; the certified service provider will have your name and service location address. All contact information is kept confidential and will not be used for any other purpose than the use of this app.
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="PaymentTerms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="sp-close" data-dismiss="modal" aria-label="Close"></button>
                        <h4 class="modal-title" id="myModalLabel">Payment Terms</h4>
                    </div>
                    <div class="modal-body">
                        A credit card is required to request an appointment. You will be charged $25 for a cancellation within 12 hours of the start of your requested appointment time. You will be charged at the completion of the service. It is the responsibility of the credit card processing agents/companies and the clients to maintain secure financial information and private credit card number documentation. Spafoo.com accepts no liability for the failure of VISA/MasterCard/American Express/Discover to protect their clients from fraudulent activities and theft of private information. The above mentioned entities are contracted by Spafoo.com to provide secure transactions.
                    </div>
                </div>
            </div>
        </div>
 
        <script type="text/javascript">app.initialize();</script>
      
    </ion-content>
</ion-view>