<div class="modal fade" id="PDone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="visibility: hidden">
    <div class="modal-dialog w90" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="sp-close" data-dismiss="modal" aria-label="Close"></button>
                <h4 class="center" id="myModalLabel"><i class="fa fa-check-cross fa-3x"></i> </h4>
            </div>
            <div class="modal-cpbody center">
                <p >{{ma.messages}} </p>
                <div class="cpaction">
                    <a data-dismiss="modal" data-toggle="modal" ng-click="ma.actionAfterOk()" class="green-rounded btnblock">Ok</a>

                </div>
            </div>
        </div>
    </div>
</div>