<?xml version="1.0" encoding="utf-8"?>
<Actions>

    <Action>
        <Id>Pay with Credit Card</Id>
        <Title>
            <Item key="default">Make a payment with Credit Card</Item>
        </Title>
        <HelpText>
            <Item key="default">
                Make a payment with Credit Card. Authorization and Capture.
            </Item>
        </HelpText>
        <Settings>
            <Group>Authorize.Net</Group>
        </Settings>
        <TypeStr>ActionForm.Authorize.PayWithCreditCard, ActionForm.Authorize</TypeStr>
        <Final>true</Final>
        <Parameter>
            <Id>AuthorizeNetAPILoginID</Id>
            <Title>
                <Item key="default">API Login ID</Item>
            </Title>
            <HelpText>
                <Item key="default">Required. API Login ID and Transaction Key. These keys will authenticate requests to the payment gateway.</Item>
            </HelpText>
            <Type>Text</Type>
            <Settings>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetTransactionKey</Id>
            <Title>
                <Item key="default">Transaction Key</Item>
            </Title>
            <HelpText>
                <Item key="default">Required. API Login ID and Transaction Key. These keys will authenticate requests to the payment gateway.</Item>
            </HelpText>
            <Type>Password</Type>
        </Parameter>

        <Parameter>
            <Id>AuthorizeNetTransactionType</Id>
            <Title>
                <Item key="default">Credit Card Transaction Type</Item>
            </Title>
            <HelpText>
                <Item key="default">Credit Card Transaction Type. If the value submitted does not match a supported value, the transaction is rejected. If this field is not submitted or the value is blank, the payment gateway will process the transaction as an AUTH_CAPTURE.</Item>
            </HelpText>
            <Type>Select</Type>
            <Settings>
                <Items>{ "AUTH_CAPTURE": { "default": "AUTH_CAPTURE" }, "AUTH_ONLY": { "default": "AUTH_ONLY" }, "CAPTURE_ONLY": { "default": "CAPTURE_ONLY" }, "PRIOR_AUTH_CAPTURE": { "default": "PRIOR_AUTH_CAPTURE" }, "CREDIT": { "default": "CREDIT" }, "VOID": { "default": "VOID" }}</Items>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>

        <Parameter>
            <Id>AuthorizeNetLiveMode</Id>
            <Title>
                <Item key="default">Go Live</Item>
            </Title>
            <Type>Boolean</Type>
            <HelpText>
                <Item key="default">
                    Enable this option to switch to Live Mode. By default, unchecked, Test Mode, the transaction will be posted to the Authorize.Net's test server for developer accounts: https://test.authorize.net/gateway/transact.dll.
                </Item>
            </HelpText>
        </Parameter>


        <Parameter>
            <Id>AuthorizeNetTitle</Id>
            <Title>
                <Item key="default">Payment description</Item>
            </Title>
            <HelpText>
                <Item key="default">Tells what the transaction is about, for example a service name. This will appear in statements, receipts, etc.</Item>
            </HelpText>
            <Type>Text</Type>
        </Parameter>

        <Parameter>
            <Id>AuthorizeNetCurrency</Id>
            <Title>
                <Item key="default">Transaction's currency</Item>
            </Title>
            <HelpText>
                <Item key="default">The list of accepted currency is in the AIM documentation.</Item>
            </HelpText>
            <Type>Select</Type>
            <Settings>
                <Items>{ "AUD": { "default": "Australian Dollar" }, "USD": { "default": "US Dollar" }, "CAD": { "default": "Canadian Dollar" }, "GBP": { "default": "British Pound" }, "NZD": { "default": "New Zealand Dollar" }, "EUR": { "default": "Euro" }}</Items>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>

        <Parameter>
            <Id>AuthorizeNetAmount</Id>
            <Title>
                <Item key="default">Amount - total to pay</Item>
            </Title>
            <HelpText>
                <Item key="default">
                    Amount - the total to pay in the selected currency.
                    Can contain other context tokens, for example [TotalAmmount], and <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank">My Tokens</a>.
                </Item>
            </HelpText>
            <Type>Text</Type>
        </Parameter>

        <!-- parameters for CC-->
        <Parameter>
            <Id>AuthorizeNetCardNumber</Id>
            <Title>
                <Item key="default">Credit Card Number</Item>
            </Title>
            <HelpText>
                <Item key="default">Credit Card Number</Item>
            </HelpText>
            <Type>FieldSelect</Type>
            <Settings>
                <FieldType>open-text</FieldType>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetCCV</Id>
            <Title>
                <Item key="default">Credit Card CCV</Item>
            </Title>
            <HelpText>
                <Item key="default">
                    Credit Card CCV. This field is required if the merchant would like to use the Card Code Verification (CCV) security feature.
                </Item>
            </HelpText>
            <Type>FieldSelect</Type>
            <Settings>
                <FieldType>open-text</FieldType>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetExpirationMonth</Id>
            <Title>
                <Item key="default">Expiration Month</Item>
            </Title>
            <HelpText>
                <Item key="default">Expiration Month</Item>
            </HelpText>
            <Type>FieldSelect</Type>
            <Settings>
                <FieldType>closed-multiple-dropdown</FieldType>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetExpirationYear</Id>
            <Title>
                <Item key="default">Expiration Year</Item>
            </Title>
            <HelpText>
                <Item key="default">Expiration Year</Item>
            </HelpText>
            <Type>FieldSelect</Type>
            <Settings>
                <FieldType>closed-multiple-dropdown</FieldType>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetFirstName</Id>
            <Title>
                <Item key="default">First Name</Item>
            </Title>
            <HelpText>
                <Item key="default">First Name</Item>
            </HelpText>
            <Type>FieldSelect</Type>
            <Settings>
                <FieldType>open-text</FieldType>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetLastName</Id>
            <Title>
                <Item key="default">Last Name</Item>
            </Title>
            <HelpText>
                <Item key="default">Last Name</Item>
            </HelpText>
            <Type>FieldSelect</Type>
            <Settings>
                <FieldType>open-text</FieldType>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetAddress</Id>
            <Title>
                <Item key="default">Address</Item>
            </Title>
            <HelpText>
                <Item key="default">Address</Item>
            </HelpText>
            <Type>FieldSelect</Type>
            <Settings>
                <FieldType>open-text</FieldType>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetCity</Id>
            <Title>
                <Item key="default">City</Item>
            </Title>
            <HelpText>
                <Item key="default">City</Item>
            </HelpText>
            <Type>FieldSelect</Type>
            <Settings>
                <FieldType>open-text</FieldType>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetState</Id>
            <Title>
                <Item key="default">State</Item>
            </Title>
            <HelpText>
                <Item key="default">State</Item>
            </HelpText>
            <Type>FieldSelect</Type>
            <Settings>
                <FieldType>open-text</FieldType>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetCountry</Id>
            <Title>
                <Item key="default">Country</Item>
            </Title>
            <HelpText>
                <Item key="default">Country</Item>
            </HelpText>
            <Type>FieldSelect</Type>
            <Settings>
                <FieldType>address-country</FieldType>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetPostalCode</Id>
            <Title>
                <Item key="default">Postal Code</Item>
            </Title>
            <HelpText>
                <Item key="default">Postal Code</Item>
            </HelpText>
            <Type>FieldSelect</Type>
            <Settings>
                <FieldType>open-text</FieldType>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>

        <!--extra parameters-->
        <Parameter>
            <Id>AuthorizeNetFields</Id>
            <Title>
                <Item key="default">Fields</Item>
            </Title>
            <Type>NameValueCollection</Type>
            <HelpText>
                <Item key="default">
                    Select which extra data to pass to Authorize.Net. Map Authorize.Net's Fields to Action Form Fields or Expressions. Additional data to pass to Authorize.Net.
                </Item>
            </HelpText>
            <Settings>
                <NameColumn>Authorize.Net Field</NameColumn>
                <ValueColumn>Value</ValueColumn>
                <ButtonName>Add</ButtonName>
            </Settings>
        </Parameter>

        <Parameter>
            <Id>AuthorizeNetResponseCodeTokenName</Id>
            <Title>
                <Item key="default">Output Authorize.Net Response Code Token Name</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">Optionally provide a token name where to store the Authorize.Net Response Code generated by the transaction. For example, store Authorize.Net Response Code that is needed later in another action.</Item>
            </HelpText>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetResponseReasonCodeTokenName</Id>
            <Title>
                <Item key="default">Output Authorize.Net Response Reason Code Token Name</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">Optionally provide a token name where to store the Authorize.Net Response Reason Code generated by the transaction. For example, store Authorize.Net Response Reason Code that is needed later in another action. (useful purpose: send it to an admin)</Item>
            </HelpText>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetResponseReasonTextTokenName</Id>
            <Title>
                <Item key="default">Output Authorize.Net Response Reason Text Token Name</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">Optionally provide a token name where to store the Authorize.Net Response Reason Text generated by the transaction. For example, store Authorize.Net Response Reason Text that is needed later in another action.</Item>
            </HelpText>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetResponseAuthorizationCodeTokenName</Id>
            <Title>
                <Item key="default">Output Authorize.Net Response Authorization Code Token Name</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">Optionally provide a token name where to store the Authorize.Net Response Authorization Code generated by the transaction. The authorization or approval code. For example, store Authorize.Net Response Authorization Code that is needed later in another action.</Item>
            </HelpText>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetResponseTransactionIDTokenName</Id>
            <Title>
                <Item key="default">Output Authorize.Net Response Transaction ID Token Name</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">Optionally provide a token name where to store the Authorize.Net Response Transaction ID generated by the transaction. The payment gateway-assigned identification number for the transaction. For example, store Authorize.Net Response Transaction ID that is needed later in another action.</Item>
            </HelpText>
        </Parameter>


        <Parameter>
            <Id>OnApproved</Id>
            <Title>
                <Item key="default">On Approved</Item>
            </Title>
            <Type>ActionList</Type>
            <Settings>
                <Event>anApproved</Event>
            </Settings>
            <HelpText>
                <Item key="default">
                    Define a list of actions that should execute when this action's result is Approved.
                </Item>
            </HelpText>
        </Parameter>
        <Parameter>
            <Id>OnDeclined</Id>
            <Title>
                <Item key="default">On Declined</Item>
            </Title>
            <Type>ActionList</Type>
            <Settings>
                <Event>anDeclined</Event>
            </Settings>
            <HelpText>
                <Item key="default">
                    Define a list of actions that should execute when this action's result is Declined.
                </Item>
            </HelpText>
        </Parameter>
        <Parameter>
            <Id>OnError</Id>
            <Title>
                <Item key="default">On Error</Item>
            </Title>
            <Type>ActionList</Type>
            <Settings>
                <Event>anError</Event>
            </Settings>
            <HelpText>
                <Item key="default">
                    Define a list of actions that should execute when this action's result is Error.
                </Item>
            </HelpText>
        </Parameter>
        <Parameter>
            <Id>OnHeldForReview</Id>
            <Title>
                <Item key="default">On Held For Review</Item>
            </Title>
            <Type>ActionList</Type>
            <Settings>
                <Event>anHeldforreview</Event>
            </Settings>
            <HelpText>
                <Item key="default">
                    Define a list of actions that should execute when this action's result is Held For Review.
                </Item>
            </HelpText>
        </Parameter>
    </Action>

    <Action>
        <Id>Pay with Electronic Check</Id>
        <Title>
            <Item key="default">Make a payment with Electronic Check</Item>
        </Title>
        <HelpText>
            <Item key="default">
                Make a payment with Electronic Check. Authorization and Capture.
            </Item>
        </HelpText>
        <Settings>
            <Group>Authorize.Net</Group>
        </Settings>
        <TypeStr>ActionForm.Authorize.PayWithElectronicCheck, ActionForm.Authorize</TypeStr>
        <Final>true</Final>
        <Parameter>
            <Id>AuthorizeNetAPILoginID</Id>
            <Title>
                <Item key="default">API Login ID</Item>
            </Title>
            <HelpText>
                <Item key="default">Required. API Login ID and Transaction Key. These keys will authenticate requests to the payment gateway.</Item>
            </HelpText>
            <Type>Text</Type>
            <Settings>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetTransactionKey</Id>
            <Title>
                <Item key="default">Transaction Key</Item>
            </Title>
            <HelpText>
                <Item key="default">Required. API Login ID and Transaction Key. These keys will authenticate requests to the payment gateway.</Item>
            </HelpText>
            <Type>Password</Type>
        </Parameter>

        <Parameter>
            <Id>AuthorizeNetTransactionType</Id>
            <Title>
                <Item key="default">Credit Card Transaction Type</Item>
            </Title>
            <HelpText>
                <Item key="default">Credit Card Transaction Type. If the value submitted does not match a supported value, the transaction is rejected. If this field is not submitted or the value is blank, the payment gateway will process the transaction as an AUTH_CAPTURE.</Item>
            </HelpText>
            <Type>Select</Type>
            <Settings>
                <Items>{ "AUTH_CAPTURE": { "default": "AUTH_CAPTURE" }, "AUTH_ONLY": { "default": "AUTH_ONLY" }, "CAPTURE_ONLY": { "default": "CAPTURE_ONLY" }, "PRIOR_AUTH_CAPTURE": { "default": "PRIOR_AUTH_CAPTURE" }, "CREDIT": { "default": "CREDIT" }, "VOID": { "default": "VOID" }}</Items>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>

        <Parameter>
            <Id>AuthorizeNetLiveMode</Id>
            <Title>
                <Item key="default">Go Live</Item>
            </Title>
            <Type>Boolean</Type>
            <HelpText>
                <Item key="default">
                    Enable this option to switch to Live Mode. By default, unchecked, Test Mode, the transaction will be posted to the Authorize.Net's test server for developer accounts: https://test.authorize.net/gateway/transact.dll.
                </Item>
            </HelpText>
        </Parameter>


        <Parameter>
            <Id>AuthorizeNetTitle</Id>
            <Title>
                <Item key="default">Payment description</Item>
            </Title>
            <HelpText>
                <Item key="default">Tells what the transaction is about, for example a service name. This will appear in statements, receipts, etc.</Item>
            </HelpText>
            <Type>Text</Type>
        </Parameter>

        <Parameter>
            <Id>AuthorizeNetCurrency</Id>
            <Title>
                <Item key="default">Transaction's currency</Item>
            </Title>
            <HelpText>
                <Item key="default">The list of accepted currency is in the AIM documentation.</Item>
            </HelpText>
            <Type>Select</Type>
            <Settings>
                <Items>{ "AUD": { "default": "Australian Dollar" }, "USD": { "default": "US Dollar" }, "CAD": { "default": "Canadian Dollar" }, "GBP": { "default": "British Pound" }, "NZD": { "default": "New Zealand Dollar" }, "EUR": { "default": "Euro" }}</Items>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>

        <Parameter>
            <Id>AuthorizeNetAmount</Id>
            <Title>
                <Item key="default">Amount - total to pay</Item>
            </Title>
            <HelpText>
                <Item key="default">
                    Amount - the total to pay in the selected currency.
                    Can contain other context tokens, for example [TotalAmmount], and <a href="http://www.dnnsharp.com/dnn/modules/my-custom-tokens" target="_blank">My Tokens</a>.
                </Item>
            </HelpText>
            <Type>Text</Type>
        </Parameter>

        <!-- parameters for eCheck-->
        <Parameter>
            <Id>AuthorizeNetBankAbaCode</Id>
            <Title>
                <Item key="default">Bank Aba Code</Item>
            </Title>
            <HelpText>
                <Item key="default">Bank Aba Code. The valid routing number of the customer's bank.</Item>
            </HelpText>
            <Type>FieldSelect</Type>
            <Settings>
                <FieldType>open-text</FieldType>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetBankAcctNum</Id>
            <Title>
                <Item key="default">Bank Acct Num</Item>
            </Title>
            <HelpText>
                <Item key="default">Bank Acct Num. The customer's valid bank account number</Item>
            </HelpText>
            <Type>FieldSelect</Type>
            <Settings>
                <FieldType>open-text</FieldType>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetBankAcctType</Id>
            <Title>
                <Item key="default">Bank Acct Type</Item>
            </Title>
            <HelpText>
                <Item key="default">Bank Acct Type. The type of bank account.</Item>
            </HelpText>
            <Type>FieldSelect</Type>
            <Settings>
                <FieldType>closed-multiple-dropdown</FieldType>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetBankName</Id>
            <Title>
                <Item key="default">Bank Name</Item>
            </Title>
            <HelpText>
                <Item key="default">Bank Name. The name of the bank that holds the customer's account.</Item>
            </HelpText>
            <Type>FieldSelect</Type>
            <Settings>
                <FieldType>open-text</FieldType>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetBankAcctName</Id>
            <Title>
                <Item key="default">Bank Acct Name</Item>
            </Title>
            <HelpText>
                <Item key="default">Bank Acct Name. The name associated with the bank account.</Item>
            </HelpText>
            <Type>FieldSelect</Type>
            <Settings>
                <FieldType>open-text</FieldType>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetECheckType</Id>
            <Title>
                <Item key="default">eCheck Type</Item>
            </Title>
            <HelpText>
                <Item key="default">The type of electronic check transaction.</Item>
            </HelpText>
            <Type>Select</Type>
            <Settings>
                <Items>{ "ARC": { "default": "ARC - Accounts Receivable Conversion" }, "BOC": { "default": "BOC - Back Office Conversion" }, "CCD": { "default": "CCD - Cash Concentration or Disbursement" }, "PPD": { "default": "PPD - Prearranged Payment and Deposit Entry" }, "TEL": { "default": "TEL - Telephone-Initiated Entry" }, "WEB": { "default": "WEB - Internet-Initiated Entry" }}</Items>
            </Settings>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetBankCheckNumber</Id>
            <Title>
                <Item key="default">Bank Check Number</Item>
            </Title>
            <HelpText>
                <Item key="default">Bank Check Number. The check number on the customer's paper check. Required only when x_echeck_type=ARC or BOC.</Item>
            </HelpText>
            <Type>FieldSelect</Type>
            <Settings>
                <FieldType>open-text</FieldType>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>

        <Parameter>
            <Id>AuthorizeNetFirstName</Id>
            <Title>
                <Item key="default">First Name</Item>
            </Title>
            <HelpText>
                <Item key="default">First Name</Item>
            </HelpText>
            <Type>FieldSelect</Type>
            <Settings>
                <FieldType>open-text</FieldType>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetLastName</Id>
            <Title>
                <Item key="default">Last Name</Item>
            </Title>
            <HelpText>
                <Item key="default">Last Name</Item>
            </HelpText>
            <Type>FieldSelect</Type>
            <Settings>
                <FieldType>open-text</FieldType>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetAddress</Id>
            <Title>
                <Item key="default">Address</Item>
            </Title>
            <HelpText>
                <Item key="default">Address</Item>
            </HelpText>
            <Type>FieldSelect</Type>
            <Settings>
                <FieldType>open-text</FieldType>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetCity</Id>
            <Title>
                <Item key="default">City</Item>
            </Title>
            <HelpText>
                <Item key="default">City</Item>
            </HelpText>
            <Type>FieldSelect</Type>
            <Settings>
                <FieldType>open-text</FieldType>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetState</Id>
            <Title>
                <Item key="default">State</Item>
            </Title>
            <HelpText>
                <Item key="default">State</Item>
            </HelpText>
            <Type>FieldSelect</Type>
            <Settings>
                <FieldType>open-text</FieldType>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetCountry</Id>
            <Title>
                <Item key="default">Country</Item>
            </Title>
            <HelpText>
                <Item key="default">Country</Item>
            </HelpText>
            <Type>FieldSelect</Type>
            <Settings>
                <FieldType>address-country</FieldType>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetPostalCode</Id>
            <Title>
                <Item key="default">Postal Code</Item>
            </Title>
            <HelpText>
                <Item key="default">Postal Code</Item>
            </HelpText>
            <Type>FieldSelect</Type>
            <Settings>
                <FieldType>open-text</FieldType>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>

        <!--extra parameters-->
        <Parameter>
            <Id>AuthorizeNetFields</Id>
            <Title>
                <Item key="default">Fields</Item>
            </Title>
            <Type>NameValueCollection</Type>
            <HelpText>
                <Item key="default">
                    Select which extra data to pass to Authorize.Net. Map Authorize.Net's Fields to Action Form Fields or Expressions. Additional data to pass to Authorize.Net.
                </Item>
            </HelpText>
            <Settings>
                <NameColumn>Authorize.Net Field</NameColumn>
                <ValueColumn>Value</ValueColumn>
                <ButtonName>Add</ButtonName>
            </Settings>
        </Parameter>

        <Parameter>
            <Id>AuthorizeNetResponseCodeTokenName</Id>
            <Title>
                <Item key="default">Output Authorize.Net Response Code Token Name</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">Optionally provide a token name where to store the Authorize.Net Response Code generated by the transaction. For example, store Authorize.Net Response Code that is needed later in another action.</Item>
            </HelpText>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetResponseReasonCodeTokenName</Id>
            <Title>
                <Item key="default">Output Authorize.Net Response Reason Code Token Name</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">Optionally provide a token name where to store the Authorize.Net Response Reason Code generated by the transaction. For example, store Authorize.Net Response Reason Code that is needed later in another action. (useful purpose: send it to an admin)</Item>
            </HelpText>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetResponseReasonTextTokenName</Id>
            <Title>
                <Item key="default">Output Authorize.Net Response Reason Text Token Name</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">Optionally provide a token name where to store the Authorize.Net Response Reason Text generated by the transaction. For example, store Authorize.Net Response Reason Text that is needed later in another action.</Item>
            </HelpText>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetResponseAuthorizationCodeTokenName</Id>
            <Title>
                <Item key="default">Output Authorize.Net Response Authorization Code Token Name</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">Optionally provide a token name where to store the Authorize.Net Response Authorization Code generated by the transaction. The authorization or approval code. For example, store Authorize.Net Response Authorization Code that is needed later in another action.</Item>
            </HelpText>
        </Parameter>
        <Parameter>
            <Id>AuthorizeNetResponseTransactionIDTokenName</Id>
            <Title>
                <Item key="default">Output Authorize.Net Response Transaction ID Token Name</Item>
            </Title>
            <Type>Text</Type>
            <HelpText>
                <Item key="default">Optionally provide a token name where to store the Authorize.Net Response Transaction ID generated by the transaction. The payment gateway-assigned identification number for the transaction. For example, store Authorize.Net Response Transaction ID that is needed later in another action.</Item>
            </HelpText>
        </Parameter>

        <Parameter>
            <Id>OnApproved</Id>
            <Title>
                <Item key="default">On Approved</Item>
            </Title>
            <Type>ActionList</Type>
            <Settings>
                <Event>anApproved</Event>
            </Settings>
            <HelpText>
                <Item key="default">
                    Define a list of actions that should execute when this action's result is Approved.
                </Item>
            </HelpText>
        </Parameter>
        <Parameter>
            <Id>OnDeclined</Id>
            <Title>
                <Item key="default">On Declined</Item>
            </Title>
            <Type>ActionList</Type>
            <Settings>
                <Event>anDeclined</Event>
            </Settings>
            <HelpText>
                <Item key="default">
                    Define a list of actions that should execute when this action's result is Declined.
                </Item>
            </HelpText>
        </Parameter>
        <Parameter>
            <Id>OnError</Id>
            <Title>
                <Item key="default">On Error</Item>
            </Title>
            <Type>ActionList</Type>
            <Settings>
                <Event>anError</Event>
            </Settings>
            <HelpText>
                <Item key="default">
                    Define a list of actions that should execute when this action's result is Error.
                </Item>
            </HelpText>
        </Parameter>
        <Parameter>
            <Id>OnHeldForReview</Id>
            <Title>
                <Item key="default">On Held For Review</Item>
            </Title>
            <Type>ActionList</Type>
            <Settings>
                <Event>anHeldforreview</Event>
            </Settings>
            <HelpText>
                <Item key="default">
                    Define a list of actions that should execute when this action's result is Held For Review.
                </Item>
            </HelpText>
        </Parameter>
    </Action>

    <Action>
        <Id>Simple Checkout</Id>
        <Title>
            <Item key="default">Add a Simple Checkout to a button</Item>
        </Title>
        <HelpText>
            <Item key="default">
                Redirect to Authorize.Net to payment.
                For each item you sell, you can create a button on Authorize.Net that contains the item name, ID, description, price, and if applicable, shipping methods and costs. You can create buttons for up to 100 different items.
            </Item>
        </HelpText>
        <Settings>
            <Group>Authorize.Net</Group>
        </Settings>
        <TypeStr>ActionForm.Authorize.SimpleCheckout, ActionForm.Authorize</TypeStr>

        <Parameter>
            <Id>AuthorizeNetButtonCode</Id>
            <Title>
                <Item key="default">Button Code</Item>
            </Title>
            <HelpText>
                <Item key="default">Paste the HTML code provided on Authorize.Net for the item.</Item>
            </HelpText>
            <Type>Code</Type>
            <Settings>
                <SupportsExpressions>true</SupportsExpressions>
            </Settings>
        </Parameter>
    </Action>

</Actions>
