.NS_RequiredCap { font-size: 16px !important; font-weight: bold !important; line-height: 12px;  margin: 7px 0 0 4px; color:#ff0000 !important; } 
.mt5 { position:absolute !important; display:Block !important; cursor:pointer; z-index:10000; top: 2440px !important; left: 123px !important;  }
.proapp {
}
.proapp .label-right {
    text-align: right;
}
.proapp label {
    color: #333333;
    margin: 3px 0 0 !important;
}
.proapp .col-sm-2 {
    padding: 0 !important;
    width: 14.667% !important;
}
.proapp .form-control {
    width: 100% !important;
}
#NSR_QContainer_5 label {
    font-weight: 500 !important;
}
#NSR_QContainer_6 label {
    font-weight: 500 !important;
}
.prgbtn { position:relative; margin:-42px 0 0 0; float:right; text-align:center; }
.prgbtn ul { margin:0; padding:0; }
.prgbtn li { list-style:none; display:inline-block; margin:0 0 0 10px; }
.csbtn1 { background:#2a9569; padding:0 25px; font-size:14px; text-decoration:none; color:#ffffff; cursor:pointer; }
.csbtn2 { background:#2a9569; padding:0 25px; font-size:14px; text-decoration:none; color:#ffffff; cursor:pointer; }
.csbtn1:hover, .csbtn2:hover { background:#000000;  }
.txtbutn {
    color: #333333;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
.txtbutn:hover {
    color: #1e319b;
    text-decoration: none;
}
.sec-title {
    clear: both;
}
.sec-title h3 {
    border-bottom: 1px solid #ccc !important;
    color: #219962 !important;
    font-size: 18px;
    margin: 20px 0;
    padding: 0 0 5px;
}
.informat {
    font-size: 12px;
    height: 25px;
    margin: -21px 0 6px;
    overflow: hidden;
    position: absolute;
}
#NSR_dvMQuestion_19 label {
    display: block;
    font-weight: 500 !important;
}
#NSR_dvMQuestion_20 label {
    display: block;
    font-weight: 500 !important;
}
#NSR_dvMQuestion_21 label {
    display: block;
    font-weight: 500 !important;
}
#NSR_dvMQuestion_19 input[type="checkbox"] {
    float: left;
    margin: 9px 7px 0 0 !important;
}
#NSR_dvMQuestion_20 input[type="checkbox"] {
    float: left;
    margin: 9px 7px 0 0 !important;
}
#NSR_dvMQuestion_21 input[type="checkbox"] {
    float: left;
    margin: 9px 7px 0 0 !important;
}
.proapp input[type="checkbox"], .proapp input[type="radio"] {
    margin: 0 3px 0 0;
}
.proapp input[type="checkbox"] + label, .proapp input[type="radio"] + label {
    margin: 0 8px 0 0 !important;
}
.proapp .dnnFormRequired {
    border-left: 3px solid #1e319b !important;
}
.proapp .NS_Required .form-control {
    border-left: 3px solid #1e319b !important;
}
#NSR_UR_Step_3 .proapp:nth-child(4) {
    clear: both;
}
#NSR_UR_Step_3 .proapp:nth-child(9) {
    clear: both;
}
.checkgap {
    margin-bottom: 20px;
}


.ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
  }
  .ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    box-shadow: 0 0 7px black;
  }
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }

#NSR_dvMQuestion_29 { clear:both; }
#NSR_dvMQuestion_31 { clear:both; }
#NSR_dvMQuestion_33 { clear:both; }
#NSR_dvMQuestion_22 { clear:both; margin-top:120px; }
#NSR_UR_Step_4  input[type="checkbox"] { margin:5px 7px 0 0 !important; }
#NSR_UR_Step_4 label { margin:0 !important; }
#tb_23 { padding:4px !important; }



.NSR_Row {width:100%; margin-bottom:30px; margin-top:20px;clear:both; overflow:hidden; }
.NSR_RCol1 {width: 15%; float: left; text-align: right; font-weight: bold; color: seagreen}
.NSR_RCol2 {width:85%;float:left;padding-left:10px;}
.NSR_RCatDesc {width:100%;margin-bottom:10px;margin-top:10px;color:darkblue ;border-bottom:dotted;text-align:center; clear:both; padding:30px 0 10px; }
.NSR_Step {width:100%;margin-bottom:20px;margin-top:20px;min-height:18px;clear:both;}

.croppie-container {
    width: 100%;
    height: 100%;
}

.croppie-container .cr-image {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    max-height: none;
    max-width: none;
}

.croppie-container .cr-boundary {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.croppie-container .cr-viewport {
    position: absolute;
    border: 0px solid #fff;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0 0 2000px 2000px #ffffff;
    z-index: 0;
}

.croppie-container .cr-original-image {
    display: none;
}

.croppie-container .cr-vp-circle {
    border-radius: 50%;
}

.croppie-container .cr-overlay {
    z-index: 1;
    position: absolute;
    cursor: move;
}

.croppie-container .cr-slider-wrap {
    width: 100%;
    margin: 15px auto;
    text-align: center;
}
.cfileup { padding-top:50px !important; }

.croppie-result {
    position: relative;
    overflow: hidden;
}

.croppie-result img {
    position: absolute;
}

.croppie-container .cr-image,
.croppie-container .cr-overlay,
.croppie-container .cr-viewport {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

/*************************************/
/***** STYLING RANGE INPUT ***********/
/*************************************/
/*http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html */
/*************************************/

.cr-slider {
    -webkit-appearance: none;
/*removes default webkit styles*/
	/*border: 1px solid white; *//*fix for FF unable to apply focus style bug */
    width: 400px;
/*required for proper track sizing in FF*/
    max-width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: transparent;
}

.cr-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    background: rgba(0, 0, 0, 0.5);
    border: 0;
    border-radius: 3px;
}

.cr-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ddd;
    margin-top: -6px;
}

.cr-slider:focus {
    outline: none;
}
/*
.cr-slider:focus::-webkit-slider-runnable-track {
background: #ccc;
}
*/

.cr-slider::-moz-range-track {
    width: 100%;
    height: 3px;
    background: rgba(0, 0, 0, 0.5);
    border: 0;
    border-radius: 3px;
}

.cr-slider::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ddd;
    margin-top: -6px;
}

/*hide the outline behind the border*/
.cr-slider:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
}

.cr-slider::-ms-track {
    width: 100%;
    height: 5px;
    background: transparent;
/*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
	border-color: transparent;/*leave room for the larger thumb to overflow with a transparent border */
	border-width: 6px 0;
	color: transparent;/*remove default tick marks*/
}
.cr-slider::-ms-fill-lower {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}
.cr-slider::-ms-fill-upper {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}
.cr-slider::-ms-thumb {
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #ddd;
	margin-top:1px;
}
.cr-slider:focus::-ms-fill-lower {
	background: rgba(0, 0, 0, 0.5);
}
.cr-slider:focus::-ms-fill-upper {
	background: rgba(0, 0, 0, 0.5);
}
/*******************************************/

/***********************************/
/* Rotation Tools */
/***********************************/
.cr-rotate-controls {
	position: absolute;
	bottom: 5px;
	left: 5px;
	z-index: 1;
}
.cr-rotate-controls button {
	border: 0;
	background: none;
}
.cr-rotate-controls i:before {
	display: inline-block;
	font-style: normal;
	font-weight: 900;
	font-size: 22px;
}
.cr-rotate-l i:before {
	content: '?';
}
.cr-rotate-r i:before {
	content: '?';
}

.NSR_ALink { font-size:14px !important; white-space:nowrap !important; font-weight:600; }
.vires th { font-size:16px;} .vires td { font-size:14px; }
#dvActionPanel { margin:-260px 0 0 270px; position:absolute; }
#NSR_dvMQuestion_305 { padding:70px 0 0 0; }
@media (min-width:240px) and (max-width:766px){ 
#dvActionPanel { margin:-290px 0 0 155px; position:absolute; }
}
@media (min-width:240px) and (max-width:450px){ 
#dvActionPanel { margin:-290px 0 0 115px; position:absolute; }
}

