<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <!-- 3rd party css -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- bower:css -->
    <!--endbower-->
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet"> -->
    <!--For users deploying their apps to Windows 8.1 or Android Gingerbread, platformOverrided.js
    will inject platform-specific code from the /merges folder -->
    <!-- ionic/angularjs js -->
    <!-- build:js lib/lib.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="js/bootstrap.js"></script>

    <link href="styles/bootstrap-select.css" rel="stylesheet" />
    <script src="js/bootstrap-select.js"></script>
    <script src="js/jquery.fancybox.js"></script>

    <!-- inject:js -->
    <!-- endinject -->

</head>
<body ng-app="spafoo" ng-controller="Main as m">
 
    <div class="BgDisplay" id="showload">
        <img ng-src="images/Site/reload.gif" alt="Processing..." />  
    </div>

    <div class="in-logo"><a href="index.html"><img ng-src="images/Site/SpaFoo-sm.png" /></a></div>
    <div class="inheader">

        <div class="titre">
            <button type="button" class="tcon tcon-menu--xbutterfly" aria-label="toggle menu"><span class="tcon-menu__lines" aria-hidden="true"></span><span class="tcon-visuallyhidden">toggle menu</span></button>
        </div>
        <div class="image_trombi">
            <div class="nav-wrapper">
                <div class="vmenu">
                    <ul class="top" ng-if="getRole=='C' && GetLoginStatus==true">
                        <li>
                            <a ng-if="GetLoginStatus==true"  class="clsmenu" ui-sref="MyProfile"><img ng-src="images/Site/vm-user.png"><p>{{UserProfileName}}</p></a>
                        </li>
                        <li><a class="clsmenu" ui-sref="FindProvider"><img ng-src="images/Site/vm-find.png"><p>Find Provider</p></a></li>
                        <li><a class="clsmenu" ui-sref="Services"><img ng-src="images/Site/vm-services.png"><p>Services</p></a></li>
                        <li><a class="clsmenu"  ui-sref="MySchedule" ><img ng-src="images/Site/vm-schedule.png"><p>My Schedule</p></a></li>
                        <li>
                            <a class="clsmenu" ui-sref="Notification" >
                                <div class="pnotification2">
                                    <div class="ico2">
                                        <i class="fa white fa-bell fa-1x"></i>
                                    </div>
                                    <div id='notification2'>{{NotifiCount}}</div>
                                </div>
                                <p>Notification</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="top" ng-if="GetLoginStatus==false">
                        <li>
                            <a class="clsmenu" ui-sref="home"><img ng-src="images/Site/vm-user.png"><p> Welcome to Spafoo</p></a>
                        </li>
                        <li><a class="clsmenu" ui-sref="FindProvider"><img ng-src="images/Site/vm-find.png"><p>Find Provider</p></a></li>
                        <li><a class="clsmenu" ui-sref="Services"><img ng-src="images/Site/vm-services.png"><p>Services</p></a></li>
                      
                    </ul>
                    <ul class="top" ng-if="getRole=='P' && GetLoginStatus==true">
                        <li><a class="clsmenu" ui-sref="ProMyProfile"><img ng-src="images/Site/vm-user.png"><p>{{UserProfileName}}</p></a></li>
                        <li><a class="clsmenu"  ui-sref="ProMyScheduleLanding" ><img ng-src="images/Site/vm-schedule.png"><p>My Schedule</p></a></li>
                        <li>
                            <a class="clsmenu" ui-sref="Notification">
                                <!--<a class="clsmenu" href="MyProfile.html#noti">-->
                                    <div class="pnotification2">
                                        <div class="ico2">
                                            <i class="fa white fa-bell fa-1x"></i>
                                        </div>
                                        <div id='notification2'>{{NotifiCount}}</div>
                                    </div>
                                    <p>Notification</p>
                                </a>
                        </li>
                    </ul>
                    <ul class="bottom">
                        <li><a class="clsmenu" ui-sref="About"><img ng-src="images/Site/vm-about.png"><p>About Spafoo</p></a></li>
                        <li><a class="clsmenu" ui-sref="ShareApp"><img ng-src="images/Site/vm-share.png"><p>Share This App with Friends</p></a></li>
                        <li><a ui-sref="login" class="signout clsmenu" ng-if="GetLoginStatus==false" ><img ng-src="images/Site/vm-signout.png"><p>SignIn</p></a></li>
                        <li><a class="signout clsmenu" ng-if="GetLoginStatus==true"  ng-click="m.doLogOut()"><img ng-src="images/Site/vm-signout.png"><p>SignOut</p></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <ion-nav-view>

    </ion-nav-view>
    <script src="js/index.js"></script>
    <script src="js/main.js"></script>
    <script type="text/javascript">
            transformicons.add('.tcon');
            $(document).ready(function () {
                $('.image_trombi').hide();
                $('.titre').click(function () {
                    $(this).next().slideToggle();
                    return false;
                });
                $('.clsmenu').click(function () {
                    $('.titre').click();
                    $('.tcon').removeClass("tcon-transform");
                });
            });
    </script>
</body>
</html>
