
    .blue-title-big { margin-bottom:30px;}
    .blue-title-big .title_wrapper { padding:5px 0 5px 0px;}
	.blue-title-big .title_box { clear:both; padding:0 0 0 0; }
    .blue-title-big .title_text { font-size:36px; line-height:40px; font-family:'Roboto', sans-serif; color:#112173; font-weight:400; text-transform:uppercase; }
	
    .blue-title-big .cbody { clear:both; padding:0px 0 0 0;  }
