
    .blues-titlec { margin-bottom:30px;}
    .blues-titlec .title_wrapper { padding:5px 0 5px 0px;}
	.blues-titlec .title_box { clear:both; padding:0 0 0 0; text-align:center; }
    .blues-titlec .title_text { font-size:28px; line-height:36px; font-family:'Open Sans', sans-serif; color:#1e319b; font-weight:500; }
	
    .blues-titlec .cbody { clear:both; padding:0px 0 0 0;  }
