    .empty { margin-bottom:50px; }
    .empty .clr {clear:both;height:0;margin:0;padding:0;}
    .empty div { display:block;}
    .empty .action { float:left; }
    .empty .cbody { clear:both; }
 




