
    .gray-title { margin-bottom:30px;}
    .gray-title .title_wrapper { padding:5px 0 5px 0px;}
	.gray-title .title_box { clear:both; padding:0 0 0 0; }
    .gray-title .title_text { font-size:28px; line-height:36px; font-family:'Open Sans', sans-serif; color:#666666; font-weight:500; }
	
    .gray-title .cbody { clear:both; padding:0px 0 0 0;  }
