Dear [FirstName],
<br/><br />
We are excited you have decided to take advantage of the Spafoo smartphone app. We hope this tool brings convenience and flexibility to your life when requesting personal professional services. Please be sure to save the information below to access your secure profile, along with remembering your password. To fully utilize this app there are 3 things that must be enabled in your phone settings for the Spafoo app 1.)notifications 2.)updates 3.) GPS (when requesting services). 
<br /><br />
Also please know your credit card information is stored by the credit card processor for secure access at payment time. Our service providers never touch this private information.
<br /><br />
Username: [UserName]
<br /><br />
Portal website address: www.spafoo.com
<br /><br />
Thank you for stepping into the future with us as we strive to answer life’s modern demands.
<br /><br />
We appreciate your support.
<br /><br />
The Spafoo Family