Dear [FirstName] [LastName] 
<br /><br />
We are thrilled to have you on board. Your application process is now complete.
<br /><br />
You have received approval from Spafoo to begin providing services through this modern industry tool. Attached to this email is your contract with Spafoo. 
<br /><br />
It is now time for you to input your available hours and begin utilizing Spafoo for your professional services. You can Facebook, Tweet, Instagram or Linked In your new services at any time to promote your personal availability.
<br /><br />
All the best,
<br /><br />
Thank you,<br />
<img src="https://www.spafoo.com/images/Spafoo-Email-Logo.png">