Dear [FirstName] [LastName] 
<br/><br />
We are so excited that you have decided to join our team. We have received your application and will begin processing the information as soon as possible.
<br /><br />
We will be working to verify your information.  
<br /><br />
Please be aware that if we do not have all of the information at the time of application we will send an email reminding you of any missing information. 
<br /><br />
We can’t wait for you to start working with Spafoo and to experience the opportunity of moving into the future within our industry.
<br /><br />
Thank you,<br />
<img src="https://www.spafoo.com/images/Spafoo-Email-Logo.png">;