
<ion-view view-title="Available Cities">
    <ion-content>
        <div class="bread">
            <a href="" onClick="window.history.go(-1); return false;" class="pback"><i class="fa fa-angle-left fa-2x"></i></a>
            <div class="ptitle">Available Cities</div>
        </div>
        <div class="inbodyfull center" ng-bind-html="avct.html">
        </div>

        <script type="text/javascript">app.initialize();</script>
        <script>transformicons.add('.tcon');</script>

        </ion-content>
</ion-view>