

<ion-view view-title="Contact US">
    <ion-content >
        <div class="bread">
            <a href="" onClick="window.history.go(-1); return false;" class="pback"><i class="fa fa-angle-left fa-2x"></i></a>
            <div class="ptitle">Contact Us</div>
        </div>
        <div class="inbody center">

            <p>If you have a question regarding an appointment or our services, we're here to help! </p>
            <h3>Contact Us</h3>
            <p>
                <strong>Phone</strong> -<a href="tel:8775800580"> (877)580-0580</a><br />
                <strong>Email</strong> - <a href="mailto:hi@spafoo.com">hi@spafoo.com</a>
            </p>
        </div>

        <script type="text/javascript">app.initialize();</script>

        </ion-content>
</ion-view>