
<ion-view view-title="Login">
    <ion-content>
      
        <div class="bread">
            <a href="" onClick="window.history.go(-1); return false;" class="pback"><i class="fa fa-angle-left fa-2x"></i></a>
            <div class="ptitle">sign in</div>
        </div>
        <div class="inbody">
            <div class="has-feedback fgap">
                <label class="control-label">User Name</label>
                <input type="text" maxlength="50" class="form-control" required ng-model="username">
                <!--<span class="fa fa-user fa-lg form-control-feedback" aria-hidden="true"></span>-->
            </div>
            <div class="has-feedback fgap">
                <label class="control-label">Password</label>
                <input type="password" maxlength="50" class="form-control" ng-model="password">
                <!--<span class="fa fa-key fa-lg form-control-feedback" aria-hidden="true"></span>-->
            </div>
            <p><a class="fsm" onclick="$('#ForgotModel').modal()">Forgot your password?</a></p>
            <!--<div class="checkbox checkbox-primary">
            <input id="checkbox2" type="checkbox" checked>
            <label for="checkbox2">Remember me</label>
        </div>-->

            <div class="h50"></div>
            <div class="center">
                <p>Don't have an account? <a ui-sref="register">Sign up!</a></p>
                <a class="block-btn" data-ng-click="log.doLogin(username,password)">Sign in</a>
            </div>
        </div>
        <!-- <script type="text/javascript" src="cordova.js"></script>-->
       
        <script type="text/javascript">app.initialize();</script>
        
        <div class="modal fade" id="PDone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog w90" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="sp-close" data-dismiss="modal" aria-label="Close"></button>
                        <h4 class="center" id="myModalLabel"><i class="fa fa-check-circle fa-3x"></i> </h4>
                    </div>
                    <div class="modal-cpbody center">
                        <p >{{log.messages}} </p>
                        <div class="cpaction">
                            <a data-dismiss="modal" data-toggle="modal"  class="green-rounded btnblock zimp">Ok</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="PDoneError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog w90" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="sp-close" data-dismiss="modal" aria-label="Close"></button>
                        <h4 class="center" id="myModalLabel"><i style="color:red;" class="fa fa-exclamation-circle fa-3x"></i> </h4>
                    </div>
                    <div class="modal-cpbody center">
                        <p >{{log.messages}} </p>
                        <div class="cpaction">
                            <a data-dismiss="modal" data-toggle="modal"  class="green-rounded btnblock zimp">Ok</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ForgotModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabelforget">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="sp-close" data-dismiss="modal" aria-label="Close"></button>
                        <h4 class="modal-title" id="myModalLabelforget">Forgot Password </h4>
                    </div>
                    <div class="modal-body">
                        To reset your password, please go to the login page of Spafoo website from a non-mobile device and click Reset Password.
                    </div>
                </div>
            </div>
        </div>
      
        

    </ion-content>
</ion-view>