<ion-view view-title="Make Appointment" ng-if="ma.MainView == 'Basic-Info'">
    <ion-content>
        <div class="bread">
            <a href="" onClick="window.history.go(-1); return false;" class="pback"><i class="fa fa-angle-left fa-2x"></i></a>
            <div class="ptitle">Make appointment with </div>
        </div>
        <div class="makeapp"><a onClick="window.history.go(-1); return false;">{{ma.ServiceData.displayNameField}}</a></div>
        <!-- <select ng-model="AppointAddress" ng-change="ma.changedValue(AppointAddress)" id="basic2" class="show-tick maddcont form-control">
             <option selected class="fa fa-location-arrow" value="1">&nbsp;&nbsp;My Current Location</option>
             <option class="fa fa-map-marker" value="2">&nbsp;&nbsp;My Profile Address</option>
             <option class="fa fa-cog" value="3">&nbsp;&nbsp;Custom Address</option>
         </select>-->
        <div class="btn-group bootstrap-select show-tick maddcont form-control {{ma.isOpenSelectAdress}}">
            <button ng-click="ma.openDropdown()" type="button" class="btn dropdown-toggle btn-default" data-id="basic2" title="&amp;nbsp;&amp;nbsp;My Current Location" aria-expanded="true">
                <span class="filter-option pull-left">&nbsp;&nbsp;{{ma.addressText}}</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span>
            </button>
            <div class="dropdown-menu open" style="overflow: hidden; max-height: 120px;">
                <!--<div class="bs-searchbox"><input type="text" class="form-control" placeholder="Address" ng-model="ma.info.address" id="addressfield">
                    <div class="col-xs-6 nopad"><input type="text" class="form-control" placeholder="City" ng-model="ma.info.city" id="cityfield"></div>
                    <div class="col-xs-4 bsstate"><input type="text" class="form-control" placeholder="State" ng-model="ma.info.state" id="statefield"></div>
                    <div class="col-xs-2 nopad"><input type="text" class="form-control" placeholder="Zip" ng-model="ma.info.zip" id="zipfield"></div>
                    <div class="center"><a ng-click="ma.saveAddress()" class="green-rounded">Save</a></div>
                </div>-->
                <ul class="dropdown-menu inner" role="menu" style="height: 120px">
                    <li data-original-index="0" class="selected">
                        <a ng-click="ma.changedValue(1, 'My Current Location')" tabindex="0" class="fa fa-location-arrow" style="" data-tokens="null"><span class="text">&nbsp;&nbsp;My Current Location</span><span class="glyphicon fa fa-check check-mark"></span></a>
                    </li>
                    <li data-original-index="1">
                        <a ng-click="ma.changedValue(2, 'My Profile Address')" tabindex="0" class="fa fa-map-marker" style="" data-tokens="null"><span class="text">&nbsp;&nbsp;My Profile Address</span><span class="glyphicon fa fa-check check-mark"></span></a>
                    </li>
                    <li data-original-index="2">
                        <a ng-click="ma.changedValue(3, 'Custom Address')" tabindex="0" class="fa fa-cog" style="" data-tokens="null"><span class="text">&nbsp;&nbsp;Custom Address</span><span class="glyphicon fa fa-check check-mark"></span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="inbody">
            <div class="fcell">
                <!-- <div class="has-feedback">
                     <input type="date" class="form-control" ng-model="data.AppointDate" placeholder="Select Date">
                     <span class="fa fa-calendar fa-lg form-control-feedback" aria-hidden="true"></span>
                 </div>
                 <div class="has-feedback">
                     <input type="time" class="form-control" ng-model="data.Appointtime" placeholder="Select Time">
                     <span class="fa fa-clock-o fa-lg form-control-feedback" aria-hidden="true"></span>
                 </div>-->
                <div class="col-xs-12"><input type="text" class="form-control" placeholder="Address" ng-model="ma.info.address" id="addressfield"></div>
                <div class="col-xs-5"><input type="text" class="form-control" placeholder="City" ng-model="ma.info.city" id="cityfield"></div>
                <div class="col-xs-4"><input type="text" class="form-control" placeholder="State" ng-model="ma.info.state" id="statefield"></div>
                <div class="col-xs-3"><input type="text" class="form-control" placeholder="Zip" ng-model="ma.info.zip" id="zipfield"></div>
                <p class="bmar-sm">Select Service(s)</p>
                <!--<div class="checkbox checkbox-primary checkbox-inline">
                    <input id="checkbox2" type="checkbox">
                    <label for="checkbox2">Women</label>
                </div>-->
                <div class="checkbox checkbox-primary checkbox-inline" ng-repeat="service in ma.ProviderServiceList">
                    <input id="checkbox{{$index+1}}" class="serviceChecks" type="checkbox" ng-model="ma.checked_services[$index]" value="{{service.serviceIDField}}:1:{{service.priceField}}">
                    <label for="checkbox{{$index+1}}">{{service.serviceNameField}}</label>&nbsp;&nbsp;
                </div>
                <div class="bmar-md"></div>
                <textarea name="textarea" id="textarea" ng-model="ma.comment" class="form-control" rows="5" placeholder="Optional Comment"></textarea>
                <!--<p class="bmar-xs">Soonest appointment available?</p>-->
                <!--<a href="OrderSummary.html" class="green-rounded">ASAP</a>-->
            </div>
        </div>
        <a ng-click="ma.CreateAppointment(data)" class="block-btn">continue</a>
        <script type="text/javascript">app.initialize();</script>
        <div class="modal fade" id="PDone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog w90" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="sp-close" data-dismiss="modal" aria-label="Close"></button>
                        <h4 class="center" id="myModalLabel"><i class="fa fa-check-cross fa-3x"></i> </h4>
                    </div>
                    <div class="modal-cpbody center">
                        <p>{{ma.messages}} </p>
                        <div class="cpaction">
                            <a data-dismiss="modal" data-toggle="modal" ng-click="ma.actionAfterOk()" class="green-rounded btnblock">Ok</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
<ion-view view-title="Order Summary" ng-if="ma.MainView == 'Order-Summary'">
    <ion-content>
        <style>
            .deleteadd {
                text-align: right;
                color: #cc0000;
                cursor: pointer;
            }
        </style>
        <div class="bread">
            <a href="" ng-click="ma.viewSelect('Basic-Info')" class="pback"><i class="fa fa-angle-left fa-2x"></i></a>
            <div class="ptitle">order summary</div>
        </div>
        <div class="inbody osummery">
            <div class="head">
                <h3>Service Session: {{ma.totalDuration}}min</h3>
                <p><!--<strong>06:30</strong> pm-->at <a href="#">{{ma.addressText}}</a></p>
                <p>With: <a href="#" onClick="window.history.go(-1); return false;">{{ma.ServiceData.displayNameField}}</a></p>
            </div>
            <!--<div class="modal fade" id="PDone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog w90" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="sp-close" data-dismiss="modal" aria-label="Close"></button>
                            <h4 class="center" id="myModalLabel"><i class="fa fa-check-cross fa-3x"></i> </h4>
                        </div>
                        <div class="modal-cpbody center">
                            <p >{{ma.messages}} </p>
                            <div class="cpaction">
                                <a data-dismiss="modal" data-toggle="modal" ng-click="ma.actionAfterOk()" class="green-rounded btnblock">Ok</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="cart">
                <div class="heading">Selected Services</div>
                <ul>
                    <li ng-repeat="service in ma.selectedServices">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td class="sname"><a ng-click="ma.removeService($index)"><i class="fa fa-trash-o fa-lg deleteadd "></i></a> &nbsp; {{service.serviceNameField}}</td>
                                <td class="qbox"><input required ng-change="ma.changeSummery()" type="number" min="1" ng-model="ma.selectedServices[$index].qtyField" id="{{service.serviceNameField}}" value="1" class="form-control center" placeholder="1"></td>
                                <td class="price">${{isNaN(service.priceField * ma.selectedServices[$index].qtyField) ? service.priceField : service.priceField * ma.selectedServices[$index].qtyField }}</td>
                            </tr>
                        </table>
                    </li>
                </ul>
                <div class="finfo">
                    <span>Total</span>{{ma.totalPrice}}<span class="usd">USD</span>
                </div>
            </div>
        </div>
        <div class="enter">
            <a href="" ng-click="ma.appointmentView()" class="block-btn">continue</a>
        </div>
        <div class="modal fade" id="PDone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog w90" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="sp-close" data-dismiss="modal" aria-label="Close"></button>
                        <h4 class="center" id="myModalLabel"><i class="fa fa-check-cross fa-3x"></i> </h4>
                    </div>
                    <div class="modal-cpbody center">
                        <p>{{ma.messages}} </p>
                        <div class="cpaction">
                            <a data-dismiss="modal" data-toggle="modal" ng-click="ma.actionAfterOk()" class="green-rounded btnblock">Ok</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
<ion-view view-title="APPOINTMENT DATE & TIME" ng-if="ma.MainView == 'Appointment-DateTime'">
    <ion-content scroll="false">
        <style>
            .no-event-label, .event-detail-table, .event-detail-container {
                display: none !important;
                visibility: hidden !important;
            }

            .fc-day-grid-event .fc-time {
                display: none !important;
            }

            .fc-event-container .fc-title {
                color: #ffffff !important;
                font-weight: 600 !important;
            }

            .fc-day-grid-event .fc-content {
                text-align: center !important;
            }

            H2 {
                margin: 0 0 10px 0;
                line-height: 36px;
                font-weight: normal;
                font-size: 28px;
                color: #112173;
                font-family: 'Balthazar', sans-serif;
            }

            .fc th {
                border-style: solid;
                border-width: 1px;
                padding: 10px;
                vertical-align: top;
                color: #219962;
            }

            .fc td {
                border-style: solid;
                border-width: 1px;
                padding: 5px;
                font-weight: 600;
                vertical-align: top;
                color: #112173;
            }
        </style>
        <div class="bread">
            <a href="" ng-click="ma.viewSelect('Order-Summary')" class="pback"><i class="fa fa-angle-left fa-2x"></i></a>
            <div class="ptitle">APPOINTMENT DATE & TIME</div>
        </div>
        <div class="inbody osummery" style="overflow-y: auto; height:90%">
            <div class="info margin-bottom-10">{{ma.viewTitle}}</div>
            <div ui-calendar="ma.uiConfig.calendar" class="span8 calendar" ng-model="ma.staticEvents" calendar="myCalendar1"></div>
            <!--<calendar ng-model="calendar.currentDate" calendar-mode="calendar.mode"
                  range-changed="reloadSource(startTime, endTime)"
                  event-selected="onEventSelected(event)" title-changed="ma.onViewTitleChanged(title)"
                  time-selected="ma.onTimeSelected(selectedTime, events)" step="30">

        </calendar>-->
        </div>
        <div class="modal fade" id="PDoneSlider" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog w90" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="sp-close" data-dismiss="modal" aria-label="Close"></button>
                        <!--<h4 class="center" id="myModalLabel"><i class="fa fa-check-circle fa-3x"></i> </h4>-->
                    </div>
                    <div class="modal-cpbody center">
                        <style>
                            .popup-container .popup {
                                width: 90% !important;
                            }

                            .irs-line {
                                background: #EEE !important;
                                border: none !important;
                            }

                            .ui-widget-content {
                                border: none !important;
                            }

                            .tsinfo {
                                color: #ff0000;
                                font-weight: 600;
                                font-size: 12px;
                                text-align: center;
                                width: 100%;
                                padding-top: 6px;
                            }

                            .irs-single {
                                padding: 2px 5px;
                                color: #fff;
                                background: #219962;
                                font-size: 14px;
                            }

                            .irs-to {
                                padding: 2px 5px;
                                color: #fff;
                                background: #219962;
                                font-size: 14px;
                            }

                            .irs-from {
                                padding: 2px 5px;
                                color: #fff;
                                background: #219962;
                                font-size: 14px;
                            }

                            .irs-bar {
                                border-right: 15px solid #1e319b;
                                border-left: 15px solid #1e319b;
                            }

                            .times-header {
                                font-weight: 600;
                                font-size: 15px;
                                color: #112173;
                                text-align: center;
                                margin-bottom: 15px;
                            }

                                .times-header span {
                                    font-weight: 600;
                                    font-size: 15px;
                                    color: #219962;
                                }

                            .tsbottom .ava {
                                color: #219962;
                                font-weight: 600;
                            }

                            .tsbottom .avano {
                                color: #ff0000;
                                font-weight: 600;
                            }

                            .tsbottom #lblAvailability {
                                color: #112173;
                                font-weight: 600;
                                font-size: 15px;
                                display: block;
                            }

                            .bootbox-body {
                                text-align: center;
                                font-size: 15px;
                            }
                        </style>
                        <div id="NS_dvSliderOuter" style="padding: 10px 0; width: auto; min-height: 0; max-height: none; height: 339px;" class="ui-dialog-content ui-widget-content">
                            <div class="times-header text-center">
                                <p> Time slot for date: <span class="balanced"><label id="lblSlotDate">{{ma.onlyDate}}</label></span> </p>
                                <p> Total Service Session: <span class="balanced"><label id="lblServiceSession">{{ma.totalDuration}} minute(s)</label></span> </p>
                                <div class="chosens text-center">Chosen slot: [<label id="NS_lblStartHour">{{ma.from}}</label> &nbsp;-&nbsp;<label id="NS_lblEndHour">{{ma.to}}</label>]</div>
                            </div>
                            <div class="padding">
                                <input type="text" name="volume" id="range">
                            </div>
                            <div class="tsinfo assertive text-center">(move the blue handle, to select the slot of your preference)</div>
                            <div class="tsbottom text-center">
                                <span id="lblAvailability" class="positive">Availability:</span>
                                <label class="balanced" id="lblAvail" style="display: inline-block;" ng-if="ma.availability"><span class="ava">This slot is available</span></label>
                                <label class="assertive" id="lblAvail1" style="display: inline-block;" ng-if="!ma.availability"><span class="avano">This slot is not available</span></label><br>
                                <img ng-if="ma.availability" style="" id="imgAvail" ng-src="images/Other/tsgrant.png">
                                <img ng-if="!ma.availability" style="" id="imgAvai2" ng-src="images/Other/tserror.png">
                            </div>
                        </div>
                        <div class="cpaction">
                            <!--<div class="col-xs-6 nopad">--><a data-dismiss="modal" ng-click="ma.destroySlider()" data-toggle="modal" class="green-btn block col-xs-6">Cancel</a>
                            <!--<div class="col-xs-6 nopad">--><a ng-click="ma.dateTimeChooseDone()" class="bluesm-btn block col-xs-6">Ok</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="PDone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog w90" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="sp-close" data-dismiss="modal" aria-label="Close"></button>
                        <h4 class="center" id="myModalLabel"><i class="fa fa-check-cross fa-3x"></i> </h4>
                    </div>
                    <div class="modal-cpbody center">
                        <p>{{ma.messages}} </p>
                        <div class="cpaction">
                            <a data-dismiss="modal" data-toggle="modal" ng-click="ma.actionAfterOk()" class="green-rounded btnblock">Ok</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="PConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog w90" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">×</button>
                        <div class="bootbox-body">You have selected {{ma.showSTTime}} to {{ma.showENTime}}  on {{ma.showTHDay}}<br>Continue with this ?</div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-xs-6 nopad"><a data-dismiss="modal" data-toggle="modal" class="green-btn block">Cancel</a></div>
                        <div class="col-xs-6 nopad"><a ng-click="ma.paymentMethod()" class="bluesm-btn block">Ok</a></div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>

<ion-view view-title="PAYMENT METHOD" ng-if="ma.MainView == 'Payment-Method'">
    <ion-content>
        <div class="bread">
            <a href="" ng-click="ma.viewSelect('Appointment-DateTime')" class="pback"><i class="fa fa-angle-left fa-2x"></i></a>
            <div class="ptitle">Payment Method</div>
        </div>
        <div class="inbody">
            <div class="pmethod">
                <img ng-src="images/Site/ccard.png">
                <h2>CREDIT CARD</h2>
                <p>Select your card for payment</p>
            </div>
        </div>
        <div class="inbody osummery">
            <div class="pmethod">
                <div class="blue bold center">Card number ending with</div>
            </div>
            <div id="dvUserCards">
                <div class="ccshowinfo pmethod" ng-repeat="card in ma.CCards">
                    <div class="radio radio-info">
                        <input type="radio" ng-model="ma.selectedCard" name="rblUserCard" value="{{card.customerPaymentProfileId}}" id="rblUserCard_{{card.customerPaymentProfileId}}" ppid="{{card.customerPaymentProfileId}}">
                        <label for="rblUserCard_{{card.customerPaymentProfileId}}">{{card.payment.Item.cardNumber}}</label>
                    </div>
                </div>
                <div class="ccshowinfo pmethod">
                    <div class="radio radio-info">
                        <input type="radio" ng-model="ma.selectedCard" name="rblUserCard" value="0" id="rblUserCard_0" ppid="0">
                        <label for="rblUserCard_0">Specify new card information in Next step</label>
                    </div>
                </div>
            </div>
            <!--<div class="pmethod" ng-repeat="card in ma.CCards">
                <div class="radio radio-info"><input ng-model="ma.selectedCard" type="radio" name="rblUserCard" value="{{card.customerPaymentProfileId}}" id="rblUserCard_{{card.customerPaymentProfileId}}" ppid="{{card.customerPaymentProfileId}}"><label>{{card.payment.Item.cardNumber}}</label></div>
            </div>-->
            <!--<div class="pmethod">
                <div class="radio radio-info"><input ng-model="ma.selectedCard" type="radio" name="rblUserCard" value="0" id="rblUserCard_0" ppid="0"><label>Specify new card information in Next step</label></div>
            </div>-->
        </div>
        <div class="fource-bottom center">
            <a ng-click="ma.validatePaymentMethod()" class="block-btn">Continue</a>
        </div>
        <div class="modal fade" id="PDone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog w90" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="sp-close" data-dismiss="modal" aria-label="Close"></button>
                        <h4 class="center" id="myModalLabel"><i class="fa fa-check-cross fa-3x"></i> </h4>
                    </div>
                    <div class="modal-cpbody center">
                        <p>{{ma.messages}} </p>
                        <div class="cpaction">
                            <a data-dismiss="modal" data-toggle="modal" ng-click="ma.actionAfterOk()" class="green-rounded btnblock">Ok</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="PDonePayment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog w90" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="sp-close" data-dismiss="modal" aria-label="Close"></button>
                        <h4 class="center" id="myModalLabel"><i class="fa fa-check-cross fa-3x"></i> </h4>
                    </div>
                    <div class="modal-cpbody center">
                        <p>{{ma.messages}} </p>
                        <div class="cpaction">
                            <div class="col-xs-6 nopad"><a data-dismiss="modal" data-toggle="modal" class="green-btn block">bt
Cancel
                            </a></div>
                            bt
                            <div class="col-xs
                            <div class="col-xs-6 nopad"><a ng-click="ma.actionPayment()" class="bluesm-btn block">Ok</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
<ion-view view-title="PAYMENT INFORMATION" ng-if="ma.MainView == 'Payment-Information'">
    <ion-content>
        <ng-include src="'app/templates/CreditCard.html'"></ng-include>
        <div class="modal fade" id="PDone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog w90" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="sp-close" data-dismiss="modal" aria-label="Close"></button>
                        <h4 class="center" id="myModalLabel"><i class="fa fa-check-cross fa-3x"></i> </h4>
                    </div>
                    <div class="modal-cpbody center">
                        <p>{{ma.messages}} </p>
                        <div class="cpaction">
                            <a data-dismiss="modal" data-toggle="modal" ng-click="ma.wronInfoGoBack()" class="green-rounded btnblock">Ok</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="PDonePayment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog w90" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="sp-close" data-dismiss="modal" aria-label="Close"></button>
                        <h4 class="center" id="myModalLabel"><i class="fa fa-check-cross fa-3x"></i> </h4>
                    </div>
                    <div class="modal-cpbody center">
                        <p>{{ma.messages}} </p>
                        <div class="cpaction">
                            <div class="col-xs-6 nopad"><a data-dismiss="modal" data-toggle="modal" class="green-btn block">Cancel</a></div>
                            <div class="col-xs-6 nopad"><a ng-click="ma.actionPayment()" class="bluesm-btn block">Ok</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
