
<ion-view view-title="User Registration" scroll="true">
    <ion-content>

        <div class="bread">
            <a href="" onClick="window.history.go(-1); return false;" class="pback"><i class="fa fa-angle-left fa-2x"></i></a>
            <div class="ptitle">Notification</div>
            <a href="#noti">
                <div class="pnotification">
                    <div class="ico">
                        <i class="fa blue fa-bell fa-1x"></i>
                    </div>
                    <div id='notification'>{{noti.NotificationCount}}</div>
                </div>
            </a>
        </div>
        <div class="inbody-simple mprofile">

          
            <div ng-if="noti.NotificaitonData!=''" class="nsrow MyNotifications">
                <div class="notiwrapper">
                    <ul>
                        <li ng-repeat="sr in noti.NotificaitonData"  ng-if="sr.typeNameFields!=null">
                            <span>{{sr.datedField}}</span> <label  ui-sref="MySchedule"  ng-bind-html="sr.typeNameFields"></label> <a ng-click="noti.RemoveNotification({{sr.idField}})" class="redclose">
                                <i class="fa fa-times-circle" aria-hidden="true"></i>
                            </a>
                        </li>

                    </ul>
                    <div align="center" id="dvClearAll">
                        <div ng-click="noti.RemoveUserNotification()" class="clearnoti">Clear All Notifications</div>
                    </div>
                </div>
            </div>
            <p ng-if="noti.NotificaitonData==''">Hey! This is your notification center. Expect to get fun updates about the app from the team at SpaFoo! And, if you ever miss a notification, you can head back here to check it out.</p>
        </div>



        <script type="text/javascript">app.initialize();</script>

    </ion-content>
</ion-view>
