<ion-view view-title="Provider Profile Edit" scroll="true">
    <ion-content>
<div class="bread">
  <a href="" onClick="window.history.go(-1); return false;" class="pback"><i class="fa fa-angle-left fa-2x"></i></a>
  <div class="ptitle">My Profile</div>
  <div class="pnotification">
    <div class="ico">
      <a href="Pro-Appointments.html"><i class="fa blue fa-bell fa-1x"></i></a>
    </div>
    <div id='notification'>{{pmp.NotificationCount}}</div>
  </div>
</div>
<div class="inbody-simple mprofile">
  <div class="center">
    <p><a href="#/ProEditProfile" class="bold"><i class="fa fa-edit fa-lg"></i> &nbsp;Edit Profile</a></p>
    <div class="profile-pic">
      <div class="round">
        <a ng-if="pmp.proProfilePic==''"><img ng-src="images/Site/register-default.png" alt="" draggable="false"></a>
        <a ng-if="pmp.proProfilePic!=''"><img ng-src="{{pmp.proProfilePic}}" alt="" draggable="false"></a>
      </div>
    </div>
    <h3 class="bmar-xs">{{pmp.ServiceData.displayNameField}}</h3>
    <p class="green bmar-sm fs-sm">{{pmp.ServiceData.emailField}}</p>
    <p><span>Joined Date:</span> {{pmp.ServiceData.membershipField.createdDateField}}</p>
  </div>
<div class="bar-head"><i class="fa fa-info"></i> &nbsp;Personal Information</div>
<p><span>Name:</span> {{pmp.ServiceData.displayNameField}}</p>
<p><span>Display Name:</span>{{pmp.ServiceData.usernameField}}</p>
<p><span>Password:</span> ********* (<a ui-sref="ChangePassword"> Change Password </a>) </p>
<p><span>Email:</span> {{pmp.ServiceData.emailField}}</p>

<div class="bar-head"><i class="fa fa-envelope-o"></i> &nbsp;Contact Information</div>
<p><span>Phone:</span> {{pmp.ServiceData.profileField.cellField}}</p>
<p><span>Email:</span>{{pmp.ServiceData.emailField}}</p>
<p><div class="fleft"><span class="blue bold">Address:</span></div> <div class="fleft pl-xs"> {{pmp.ServiceData.profileField.streetField}}<br />{{pmp.ServiceData.profileField.cityField}}<br />{{pmp.ServiceData.profileField.countryField}},{{pmp.ServiceData.regionField}} {{pmp.ServiceData.postalCodeField}}</div></p>
  <div class="clearfix"></div>
  
  <div class="bar-head"><i class="fa fa-user"></i> &nbsp;Bio</div>
  <p>{{pmp.ServiceData.profileField.biographyField}}</p>
  
  <div class="bar-head"><i class="fa fa-image"></i> &nbsp;Work Sample</div>
  <div class="pprofile">
    <ul class="sample tmar-md">
      <li ng-repeat="s in pmp.WorkSamplesList"><img src="http://dev.spafoo.com{{s.optionTextField}}" alt="" /></li>
    </ul>
  </div>
  
</div>
   </ion-content>
</ion-view>

