<ion-view view-title="Provider Appointment Detail" scroll="true">
    <ion-content>
        <div class="bread">
            <a href="" onClick="window.history.go(-1); return false;" class="pback"><i class="fa fa-angle-left fa-2x"></i></a>
            <div class="ptitle">Appointment details</div>
        </div>
        <div class="inbody pprofile">
            <div class="baruprovider">Client Location</div>
            <div class="provermap">
                <!--<div class="overlay1"></div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6715.9184983374935!2d-97.08695040934957!3d32.68712916603276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1453818850289" frameborder="0" style="border:0" allowfullscreen></iframe>-->

                <div style="height:250px;width:auto" id="map_area">

                </div>
            </div>
            <div class="bar">
                <div class="fleft"><i class="fa fa-info green"></i> &nbsp;Not Complete</div>
                <div class="fright" style="display:none"><a href="tel:{{pad.ServiceData.telephoneField }}"><i class="fa fa-mobile-phone fa-lg"></i> &nbsp;Make a Call</a></div>

            </div>
            <div class="scdetail">



                <h1>{{pad.ServiceData.orderDateField}}</h1>
                <p class="blue">{{pad.ServiceData.atTimeField}} at {{pad.ServiceData.addressField}} </p>
                <p><span>With: </span> {{pad.ServiceData.displayNameField}} </p>
                <p><span>Service(s): </span> {{pad.ServiceData.ServiceList}}</p>
                <p ng-if="pad.ServiceData.commentsField.trim().length"><span>Comment: </span> {{pad.ServiceData.commentsField}}</p>
            </div>
        </div>
        <p>&nbsp;</p>
        <a href="#/ProAppointmentCompleted/{{pad.ServiceData.clientIDField}}/{{pad.ServiceData.authTxnIDField}}/{{pad.ServiceData.appointmentIDField}}/{{pad.ServiceData.payTxnIDField}}/{{pad.ServiceData.amountField}}" class="block-btn">I've arrived</a>
    </ion-content>
</ion-view>
