<ion-view view-title="Process My Schedule">
    <ion-content>

        <div class="bread">
            <a href="" onClick="window.history.go(-1); return false;" class="pback"><i class="fa fa-angle-left fa-2x"></i></a>
            <div class="ptitle">My Schedule</div>
        </div>
        <div class="inbody">
            <a ui-sref="ProAppointments">
                <div class="gbox">
                    <img ng-src="images/Site/ico-app.png">
                    <h2>Appointments</h2>
                </div>
            </a>
            <a ui-sref="ProMyAvailability">
                <div class="gbox">
                    <img ng-src="images/Site/ico-ava.png">
                    <h2>Availability</h2>
                </div>
            </a>
        </div>
        <script type="text/javascript">app.initialize();</script>
       
    </ion-content>
</ion-view>