
<ion-view view-title="Client Schedule Details" scroll="true">
    <ion-content>

        <div class="bread">
            <a href="" onClick="window.history.go(-1); return false;" class="pback"><i class="fa fa-angle-left fa-2x"></i></a>
            <div class="ptitle">Schedule Detail</div>
        </div>
        <div class="inbody pprofile">
            <div class="baruprovider">{{scD.ServiceData.displayNameField}}</div>
            <img class="mainimg" ng-src="{{scD.ServiceData.profilePic}}">
            <div class="bar">
                <div class="fleft"><i class="fa fa-info green"></i> &nbsp;Booked</div>
                <!--<div class="fright"><a href="" ng-click="scD.CancelSchdule()" ><i class="fa fa-trash-o"></i> &nbsp;Cancel</a> 
                &nbsp;&nbsp;&nbsp;<a href="MakeAppointment.html"><i class="fa fa-edit"></i> &nbsp;Edit</a></div>-->
                <div class="fright">
                    <a href="" ng-click="scD.CancelSchdule()"><i class="fa fa-trash-o"></i> &nbsp;Cancel</a> &nbsp;&nbsp;&nbsp;
                    <a href="#/MakeAppointment/{{scD.ServiceData.providerIDField}}/{{scD.AppointmentID}}"><i class="fa fa-edit"></i> &nbsp;Edit</a>
                </div>
            </div>
            <div class="scdetail">


                <h1>{{scD.ServiceData.orderDateField}}</h1>
                <p class="blue">{{scD.ServiceData.atTimeField}} at {{scD.ServiceData.addressField}} </p>
                <p><span>With: </span> {{scD.ServiceData.displayNameField}} </p>
                <p><span>Service(s): </span> {{scD.ServiceData.ServiceList}}</p>
            </div>
        </div>


        <script type="text/javascript">app.initialize();</script>
        <div class="modal fade" id="PDone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog w90" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="sp-close" data-dismiss="modal" aria-label="Close"></button>
                        <h4 class="center" id="myModalLabel"><i class="fa fa-check-circle fa-3x"></i> </h4>
                    </div>
                    <div class="modal-cpbody center">
                        <p>{{scD.messages}} </p>
                        <div class="cpaction">
                            <a data-dismiss="modal" ng-click="scD.dismissAndThen()" data-toggle="modal" class="green-rounded btnblock">Ok</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>