Dear [FirstName],
<br/><br />
We are pleased to advise that you have been added to SpaFoo family. Please read the following information carefully and be sure to save this message in a safe location for future reference.  
<br /> <br /> 
Portal Website Address: www.spafoo.com
<br />Username: [UserName]
<br /><br />
If you do not know, or cannot remember, your password, please go to [ResetLink] to reset it.
<br /><br />
Thank you, we appreciate your support...<br /><br />
<img src='https://www.spafoo.com/images/Spafoo-Email-Logo.png' />
