<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
  
    <link rel="stylesheet" href="styles/style.css">
    <!-- 3rd party css -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bowercomponents/AngularJS-Toaster/toaster.css" />
    <link rel="stylesheet" href="bowercomponents/fullcalendar/dist/fullcalendar.css" />
    <link rel="stylesheet" href="bowercomponents/ionic-calendar/dist/css/calendar.css" />
    <!--endbower-->
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet"> -->
    <!--For users deploying their apps to Windows 8.1 or Android Gingerbread, platformOverrided.js
    will inject platform-specific code from the /merges folder -->
    <!-- ionic/angularjs js -->
    <!-- build:js lib/lib.js -->
    <!-- bower:js -->
    <script src="bowercomponents/angular/angular.js"></script>
    <script src="bowercomponents/angular-animate/angular-animate.js"></script>
    <script src="bowercomponents/angular-sanitize/angular-sanitize.js"></script>
    <script src="bowercomponents/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bowercomponents/ionic/release/js/ionic.js"></script>
    <script src="bowercomponents/ionic/release/js/ionic-angular.js"></script>
    <script src="bowercomponents/AngularJS-Toaster/toaster.js"></script>
    <script src="bowercomponents/lodash/lodash.js"></script>
    <script src="bowercomponents/ng-password-strength/dist/scripts/ng-password-strength.js"></script>
    <script src="bowercomponents/jquery/dist/jquery.js"></script>
    <script src="bowercomponents/moment/moment.js"></script>
    <script src="bowercomponents/fullcalendar/dist/fullcalendar.js"></script>
    <script src="bowercomponents/fullcalendar/dist/gcal.js"></script>
    <script src="bowercomponents/angular-ui-calendar/src/calendar.js"></script>
    <script src="bowercomponents/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bowercomponents/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script src="bowercomponents/ionic-calendar/dist/js/calendar-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="js/bootstrap.js"></script>

    <link href="styles/bootstrap-select.css" rel="stylesheet" />
    <script src="js/bootstrap-select.js"></script>
    <script src="js/jquery.mask.js"></script>
    <script src="js/jquery.fancybox.js"></script>
    <script src="js/rangeslider.js"></script>

    <link href="styles/rangeSlider.css" rel="stylesheet" />
    <link href="styles/ion.rangeSlider.skinFlat.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>

    <!-- inject:js -->
    <script src="app/app.js"></script>
    <script src="app/controllers/About/About.controller.js"></script>
    <script src="app/controllers/About/About.module.js"></script>
    <script src="app/controllers/AddClientRating/AddClientReview.controller.js"></script>
    <script src="app/controllers/AddClientRating/AddClientReview.module.js"></script>
    <script src="app/controllers/AddProviderRating/AddProviderReview.controller.js"></script>
    <script src="app/controllers/AddProviderRating/AddProviderReview.module.js"></script>
    <script src="app/controllers/BasicCreditCardInformation/BasicCreditCard.controller.js"></script>
    <script src="app/controllers/BasicCreditCardInformation/BasicCreditCard.module.js"></script>
    <script src="app/controllers/ChangePassword/ChangePassword.controller.js"></script>
    <script src="app/controllers/ChangePassword/ChangePassword.module.js"></script>
    <script src="app/controllers/ContactUs/AvailableCities.js"></script>
    <script src="app/controllers/ContactUs/ContactUS.module.js"></script>
    <script src="app/controllers/FindProvider/FindProvider.controller.js"></script>
    <script src="app/controllers/FindProvider/FindProvider.module.js"></script>
    <script src="app/controllers/home/home.controller.js"></script>
    <script src="app/controllers/home/home.module.js"></script>
    <script src="app/controllers/login/login.controller.js"></script>
    <script src="app/controllers/login/login.module.js"></script>
    <script src="app/controllers/Main/main.controller.js"></script>
    <script src="app/controllers/MyProfile/MyProfile.controller.js"></script>
    <script src="app/controllers/MyProfile/MyProfile.module.js"></script>
    <script src="app/controllers/MakeAppointment/MakeAppointment.controller.js"></script>
    <script src="app/controllers/MakeAppointment/MakeAppointment.module.js"></script>
    <script src="app/controllers/MyProfileEdit/MyProfileEdit.controller.js"></script>
    <script src="app/controllers/MyProfileEdit/MyProfileEdit.module.js"></script>
    <script src="app/controllers/Notification/Notification.controller.js"></script>
    <script src="app/controllers/Notification/Notification.module.js"></script>
    <script src="app/controllers/MySchedule/MySchedule.controller.js"></script>
    <script src="app/controllers/MySchedule/MySchedule.module.js"></script>
    <script src="app/controllers/Pro-AppointmentCompleted/ProAppointmentCompleted.controller.js"></script>
    <script src="app/controllers/Pro-AppointmentCompleted/ProAppointmentCompleted.module.js"></script>
    <script src="app/controllers/Pro-AppointmentDetail/ProAppointmentDetail.controller.js"></script>
    <script src="app/controllers/Pro-AppointmentDetail/ProAppointmentDetail.module.js"></script>
    <script src="app/controllers/Pro-Appointments/ProAppointments.controller.js"></script>
    <script src="app/controllers/Pro-Appointments/ProAppointments.module.js"></script>
    <script src="app/controllers/Pro-MyAvailability/Pro-MyAvailability.controller.js"></script>
    <script src="app/controllers/Pro-MyAvailability/Pro-MyAvailability.module.js"></script>
    <script src="app/controllers/Pro-MyProfile/ProMyProfile.controller.js"></script>
    <script src="app/controllers/Pro-MyProfile/ProMyProfile.module.js"></script>
    <script src="app/controllers/Pro-ReviewListing/Pro-ReviewListing.controller.js"></script>
    <script src="app/controllers/Pro-ReviewListing/Pro-ReviewListing.module.js"></script>
    <script src="app/controllers/ProEditProfile/ProEditProfile.controller.js"></script>
    <script src="app/controllers/ProEditProfile/ProEditProfile.module.js"></script>
    <script src="app/controllers/ProMyScheduleLanding/ProMyScheduleLanding.module.js"></script>
    <script src="app/controllers/ProSetSoonest/ProSetSoonest.controller.js"></script>
    <script src="app/controllers/ProSetSoonest/ProSetSoonest.module.js"></script>
    <script src="app/controllers/ProviderList/ProviderList.controller.js"></script>
    <script src="app/controllers/ProviderList/ProviderList.module.js"></script>
    <script src="app/controllers/ProviderPortfolio/ProviderPortfolio.controller.js"></script>
    <script src="app/controllers/ProviderPortfolio/ProviderPortfolio.module.js"></script>
    <script src="app/controllers/register/register.controller.js"></script>
    <script src="app/controllers/register/register.module.js"></script>
    <script src="app/controllers/RegisterProvider/RegisterProvider.controller.js"></script>
    <script src="app/controllers/RegisterProvider/RegisterProvider.module.js"></script>
    <script src="app/controllers/ScheduleDetail/ScheduleDetail.controller.js"></script>
    <script src="app/controllers/ScheduleDetail/ScheduleDetail.module.js"></script>
    <script src="app/controllers/Services/Services.controller.js"></script>
    <script src="app/controllers/Services/Services.module.js"></script>
    <script src="app/controllers/ShareApp/ShareApp.controller.js"></script>
    <script src="app/controllers/ShareApp/ShareApp.module.js"></script>
    <script src="app/services/http/customerHttp.service.js"></script>
    <script src="app/services/http/sharedservice.service.js"></script>
    <!-- endinject -->

</head>
<body ng-app="spafoo" ng-controller="Main as m">

    <div class="BgDisplay" id="showload">
        <img ng-src="images/Site/reload.gif" alt="Processing..." />
    </div>

    <div class="in-logo"><a ui-sref="home"><img ng-src="images/Site/SpaFoo-sm.png" /></a></div>
    <div class="inheader">

        <div class="titre">
            <button type="button" class="tcon tcon-menu--xbutterfly" aria-label="toggle menu"><span class="tcon-menu__lines" aria-hidden="true"></span><span class="tcon-visuallyhidden">toggle menu</span></button>
        </div>
        <div class="image_trombi">
            <div class="nav-wrapper">
                <div class="vmenu">
                    <ul class="top" ng-if="getRole=='C' && GetLoginStatus==true">
                        <li ng-click="m.HideShowMenu()">
                            <a ng-if="GetLoginStatus==true" class="clsmenu" ui-sref="MyProfile"><img ng-src="images/Site/vm-user.png"><p>{{UserProfileName}}</p></a>
                        </li>
                        <li ng-click="m.HideShowMenu()"><a class="clsmenu" ui-sref="FindProvider"><img ng-src="images/Site/vm-find.png"><p>Find Provider</p></a></li>
                        <li ng-click="m.HideShowMenu()"><a class="clsmenu" ui-sref="Services"><img ng-src="images/Site/vm-services.png"><p>Professional Services</p></a></li>
                        <li ng-click="m.HideShowMenu()"><a class="clsmenu" ui-sref="MySchedule"><img ng-src="images/Site/vm-schedule.png"><p>My Schedule</p></a></li>
                         <li ng-click="m.HideShowMenu()">
                            <a class="clsmenu" ui-sref="Notification">
                                <div class="pnotification2">
                                    <div class="ico2">
                                        <i class="fa white fa-bell fa-1x"></i>
                                    </div>
                                    <div id='notification2'>{{NotifiCount}}</div>
                                </div>
                                <p>Notification</p>
                            </a>
                        </li>
           
                        <li ng-click="m.HideShowMenu()"><a class="clsmenu" ui-sref="AvailableCities"><img ng-src="images/Site/vm-city.png"><p>Available Cities </p></a></li>
                    </ul>
                    <ul class="top" ng-if="GetLoginStatus==false">
                        <li ng-click="m.HideShowMenu()">
                            <a class="clsmenu" ui-sref="home"><img ng-src="images/Site/vm-user.png"><p> Welcome to Spafoo</p></a>
                        </li>
                        <li ng-click="m.HideShowMenu()"><a class="clsmenu" ui-sref="FindProvider"><img ng-src="images/Site/vm-find.png"><p>Find Provider</p></a></li>
                        <li ng-click="m.HideShowMenu()"><a class="clsmenu" ui-sref="Services"><img ng-src="images/Site/vm-services.png"><p>Professional Services</p></a></li>
                        <li ng-click="m.HideShowMenu()"><a class="clsmenu" ui-sref="AvailableCities"><img ng-src="images/Site/vm-city.png"><p>Available Cities </p></a></li>
                    </ul>
                    <ul class="top" ng-if="getRole=='P' && GetLoginStatus==true">
                        <li ng-click="m.HideShowMenu()"><a class="clsmenu" ui-sref="ProMyProfile"><img ng-src="images/Site/vm-user.png"><p>{{UserProfileName}}</p></a></li>
                        <li ng-click="m.HideShowMenu()"><a class="clsmenu" ui-sref="ProMyScheduleLanding"><img ng-src="images/Site/vm-schedule.png"><p>My Schedule</p></a></li>
                        <!--<li ng-click="m.HideShowMenu()"><a class="clsmenu" ui-sref="Services"><img ng-src="images/Site/vm-services.png"><p>Professional Services</p></a></li>-->
                     
                        <li ng-click="m.HideShowMenu()">
                            <a class="clsmenu" ui-sref="Notification">
                                <!--<a class="clsmenu" href="MyProfile.html#noti">-->
                                <div class="pnotification2">
                                    <div class="ico2">
                                        <i class="fa white fa-bell fa-1x"></i>
                                    </div>
                                    <div id='notification2'>{{NotifiCount}}</div>
                                </div>
                                <p>Notification</p>
                            </a>
                        </li>
                        <li ng-click="m.HideShowMenu()"><a class="clsmenu" ui-sref="AvailableCities"><img ng-src="images/Site/vm-city.png"><p>Available Cities </p></a></li>

                    </ul>

                    <ul class="bottom">
                        <!--<li ng-click="m.HideShowMenu()"><a class="clsmenu" ui-sref="ShareApp"><img ng-src="images/Site/vm-share.png"><p>Share This App with Friends</p></a></li>-->

                        <li ng-click="m.HideShowMenu()"><a class="clsmenu" ui-sref="ContactUs"><img ng-src="images/Site/vm-contact.png"><p>Contact US</p></a></li>
                        <li ng-click="m.HideShowMenu()"><a class="clsmenu" ui-sref="About"><img ng-src="images/Site/vm-about.png"><p>About Spafoo</p></a></li>
                        <li ng-click="m.HideShowMenu()"><a ui-sref="login" class="signout clsmenu" ng-if="GetLoginStatus==false"><img ng-src="images/Site/vm-signout.png"><p>SignIn</p></a></li>
                        <li ng-click="m.HideShowMenu()"><a class="signout clsmenu" ng-if="GetLoginStatus==true" ng-click="m.doLogOut()"><img ng-src="images/Site/vm-signout.png"><p>SignOut</p></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <ion-nav-view>

    </ion-nav-view>
    <script src="js/index.js"></script>
    <script src="js/main.js"></script>
    <script type="text/javascript">
        transformicons.add('.tcon');
        $(document).ready(function () {
            $('.image_trombi').hide();
            $('.titre').click(function () {
                $(this).next().slideToggle();
                return false;
            });

        });
    </script>
</body>
</html>
